.about{
    @include container-mw(100%);
    background-color: #eeeeee;

    .ab-container{
        @include container-mw(1240px);
        @include row-fb;
        padding: 0 15px;

        .menu-left{
            @include col-auto(20%);
            .title-large {
                width: 248px;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 20px;
            }
            .title-small {
                width: 248px;
                height: 30px;
                line-height: 30px;
                clear: both;
                color: #777777;
                cursor: pointer;
                font-size: 14px;

                a {
                    color: #3e3e3e;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .contents-right{
            @include col-auto(80%);
            @include row-fb;

            .th-breadcrumb {
                width: 100%;
                height: 35px;
                line-height: 35px;
                position: relative;
                @include col-12;
                ul {
                    width: 70%;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: inline-block;
                    li {
                        display: inline-block;
                        white-space: nowrap;
                        a {
                            color: #8a8a8a;
                            display: inline-block;
                            white-space: nowrap;
                            font-size: 13px;
                            i{
                                font-weight: 300;
                                font-size: 9px;
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
            .left{
                @include col-3;
                background: white;
                .logoim {
                    width: 159px;
                    height: 59px;
                    padding-top: 50px;
                    padding-left: 40px;
                }
            }
            .right{
                @include col-9;
                background: white;
                padding-bottom: 35px;
                .title {
                    @include container-mw(100%);
                    line-height: 40px;
                    padding-top: 40px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .text1 {
                    @include container-mw(100%);
                    height: 30px;
                    line-height: 30px;
                    font-size: 14px;
                    color: #777777;
                }
                .img {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    border-bottom: 1px solid #d7d7d7;
                    @include container-mw(80%);
                    margin: unset;

                    img{
                        @include img-res;
                    }
                }
                .text2 {
                    @include container-mw(100%);
                    height: 30px;
                    text-align: left;
                    font-size: 14px;
                    color: #777777;
                    @include row-fb;
                    margin-bottom: 15px;
                    .left {
                        @include col-auto(25%);
                        height: 40px;
                        line-height: 40px;
                        @include col-auto(165px);
                    }
                    .right {
                        @include col-auto(75%);
                        height: 40px;
                        line-height: 40px;
                        @include col-auto(470px);
                    }
                    .right-long {
                        width: 470px;
                        height: 40px;
                        line-height: 20px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}