.mainBanner{

    .mb-container{
        @include container-mw(1240px);
        @include row-fb;

        .col-left,
        .col-right{
            @include col-4;
            padding: 0 15px;

            >a{
                margin-bottom: 14px;
                height: 194px;
                display: block;

                >img{
                    @include img-res;
                    width: 100%;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .col-mid{
            @include col-4;
            // padding: 0 13px;

            .mid-top{
                @include container-mw(100%);
                min-height: 504px;
                margin-bottom: 14px;

                .item{
                    img{
                        @include img-res;
                        min-height: 504px;
                    }
                }
                .owl-dots{
                    position: relative;
                    margin-top: -25px;
                    z-index: 2;
                    
                    >button{
                        background: none;
                        outline: none;
                        border: none;
                        padding: 0;
                    }
                    .owl-dot{
                        >span{
                            margin: 5px;
                            background: white;
                            width: 9px;
                            height: 9px;
                        }
                    }
                    .owl-dot.active{
                        >span{
                            background: #d3374b;
                        }
                    }
                }
                .owl-nav{
                    display: none;
                }
            }
            .mid-bottom{
                @include container-mw(100%);
                height: 92px;
                >a{
                    >img{
                        @include img-res;
                        height: 92px;
                    }
                }
            }
        }
        .col-left,
        .col-right,
        .col-mid{
            min-height: 610px;
        }
    }
}