.cartOrder{
    .cartOr-container{
        @include container-mw(1240px);
        .cart-contents{
            @include row-fb;
            .cart-logo{
                @include col-6;
                padding-top: 20px;
                padding-bottom: 20px;
                >a{
                    img{
                        @include img-res;
                    }
                }
            }
            .back-home{
                @include col-6;
                height: 20px;
                line-height: 20px;
                text-align: right;
                padding-top: 65px;
                a {
                    font-size: 15px;
                    text-decoration: underline;
                    color: #6699cc;
                }
            }
            .cart-direct{
                @include col-12;
                @include row-fb;
                clear: both;
                margin-top: 20px;
                position: relative;
                text-align: center;
                line-height: 45px;
                .items01 {
                    @include col-auto(400px);
                    height: 45px;
                    color: #fff;
                    text-align: center;
                    background: #6699cc url(https://image.yes24.vn/upload/image/bg/Gio_hang_2.png) no-repeat 127px 13px;
                }
                .items02 {
                    content: " ";
                    position: absolute;
                    z-index: 0;
                    text-indent: -5000px;
                    display: block;
                    height: 32px;
                    width: 31px;
                    margin-top: 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    background-color: #6699cc;
                    left: 384px;
                    bottom: 6px;
                    z-index: 1;
                }
                .items03 {
                    @include col-auto(405px);
                    height: 45px;
                    color: #000;
                    text-align: center;
                    background: #ededed url(https://image.yes24.vn/upload/image/bg/Thong_tin.png) no-repeat 110px 11px;
                }
                .items05 {
                    @include col-auto(435px);
                    height: 45px;
                    color: #000;
                    background: #ededed url(https://image.yes24.vn/upload/image/bg/hoan_tat.png) no-repeat 140px 11px;
                }
                .items04 {
                    content: " ";
                    position: absolute;
                    z-index: 0;
                    text-indent: -5000px;
                    display: block;
                    height: 32px;
                    width: 31px;
                    margin-top: 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    background-color: #ededed;
                    border-right: 1px solid #fff;
                    border-top: 1px solid #fff;
                    left: 810px;
                    bottom: 6px;
                    z-index: 1;
                }
            }
            .cart-titles{
                @include col-12;
                @include row-fb;
                clear: both;
                margin-top: 10px;
                text-align: center;
                line-height: 45px;
                margin-bottom: 10px;
                border-bottom: 2px solid #6699cc;
                color: #6699cc;
                .items01 {
                    @include col-auto(75px);
                    height: 45px;
                    line-height: 45px;
                    .check-border {
                        margin-top: 12px;
                        border: 1px solid #125aac;
                        background: #125aac;
                        width: 17px;
                        height: 17px;
                        text-align: center;
                        line-height: 17px;
                        .fa-check {
                            color: #fff;
                            font-size: 15px;
                            border-radius: 0px;
                        }
                    }
                }
                .items02 {
                    @include col-auto(430px);
                    height: 45px;
                    line-height: 45px;
                }
                .items03 {
                    @include col-auto(140px);
                    height: 45px;
                    line-height: 45px;
                }
                .items04 {
                    @include col-auto(150px);
                    height: 45px;
                    line-height: 45px;
                }
                .items05 {
                    @include col-auto(140px);
                    height: 45px;
                    line-height: 45px;
                }
                .items06 {
                    @include col-auto(100px);
                    height: 45px;
                    line-height: 45px;
                }
                .items07 {
                    @include col-auto(200px);
                    height: 45px;
                    line-height: 45px;
                }
            }
            .BasketList{
                @include col-12;
                font-family: $ft-def;
                .item-delivery {
                    border-bottom: 1px solid #dddddd;
                    clear: both;
                    position: relative;
                    margin-bottom: 10px;
                    @include row-fb;
                    .col-left{
                        @include col-auto(85%);
                        .cart-products{
                            @include row-fb;
                            .items01 {
                                @include col-auto(75px);
                                text-align: left;
                                .check-border {
                                    border: 1px solid #125aac;
                                    background: #125aac;
                                    width: 17px;
                                    height: 17px;
                                    text-align: center;
                                    line-height: 17px;
                                    .fa-check {
                                        color: #fff;
                                        font-size: 15px;
                                        border-radius: 0px;
                                    }
                                }
                            }
                            .items02 {
                                @include col-auto(430px);
                                @include row-fb;
                                .images{
                                    @include col-auto(120px);
                                    img{
                                        @include img-res;
                                    }
                                }
                                .infos{
                                    @include col-auto(230px);
                                    margin-left: 20px;
                                    font-size: 14px;
                                    line-height: 20px;
                                    text-align: left;
                                    .productname{
                                        a {
                                            color: #3e3e3e;
                                            text-decoration: none;
                                        }
                                    }
                                    .option {
                                        clear: both;
                                        font-size: 12px;
                                        margin-top: 3px;
                                        color: #777777;
                                    }
                                }
                            }
                            .items03 {
                                @include col-auto(140px);
                                p{
                                    color: #000;
                                    text-align: center;
                                }
                            }
                            .items04 {
                                @include col-auto(150px);
                                .qty-change-left {
                                    float: left;
                                    height: 24px;
                                    width: 24px;
                                    background-color: #ddd;
                                    text-align: center;
                                    line-height: 24px;
                                    font-size: 17px;
                                    cursor: pointer;
                                    margin-left: 30px;
                                }
                                .inputQty {
                                    width: 40px;
                                    height: 20px;
                                    line-height: 22px;
                                    margin-left: auto;
                                    margin-right: auto;
                                    text-align: center;
                                    float: left;
                                    border: 1px solid #ddd;
                                    outline: none;
                                }
                                .qty-change-right {
                                    float: left;
                                    height: 24px;
                                    width: 24px;
                                    background-color: #ddd;
                                    text-align: center;
                                    line-height: 24px;
                                    font-size: 17px;
                                    cursor: pointer;
                                }
                            }
                            .items05 {
                                @include col-auto(150px);
                                p{
                                    color: #000;
                                    text-align: center;
                                }
                                .option {
                                    clear: both;
                                    font-size: 12px;
                                    margin-top: 3px;
                                    color: #777777;
                                }
                            }
                            .items06 {
                                @include col-auto(100px);
                                .btdelete {
                                    width: 17px;
                                    height: 17px;
                                    background: url(https://image.yes24.vn/upload/image/button/recyclebin.png) no-repeat;
                                    cursor: pointer;
                                    margin-left: auto;
                                    margin-right: auto;
                                    margin-top: 2px;
                                }
                            }
                        }
                    }
                    .cart-delivery-total{
                        @include col-auto(15%);
                        text-align: center;
                        color: #000;
                        .delivery {
                            clear: both;
                            font-size: 13px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            color: #000;
                            text-transform: uppercase;
                            a{
                                color: #3e3e3e;
                                text-decoration: none;
                            }
                        }
                        .option {
                            clear: both;
                            font-size: 12px;
                            margin-top: 3px;
                            color: #777777;
                        }
                    }
                }
            }
            .BasketTotal {
                background-color: #ededed;
                width: 100%;
                position: fixed;
                left: 0px;
                bottom: 0px;
                height: 60px;
                padding-top: 15px;
                padding-bottom: 60px;
                .bktt-content{
                    @include container-mw(1240px);
                    @include row-fb;
                    .cart-total{
                        @include col-auto(80%);
                        @include row-fb;
                        .delete-all {
                            height: 20px;
                            @include col-auto(65%);
                            line-height: 18px;
                            float: left;
                            margin-left: 30px;
                            color: #777777;
                            font-size: 13px;
                            margin-top: 12px;
                            a {
                                color: #3e3e3e;
                                text-decoration: none;
                            }
                        }
                        .total-title {
                            height: 45px;
                            @include col-auto(15%);
                            line-height: 45px;
                            text-align: center;
                            float: right;
                            color: #000;
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .total-prices {
                            height: 45px;
                            @include col-auto(15%);
                            line-height: 45px;
                            text-align: center;
                            float: right;
                            color: #000;
                            font-size: 23px;
                            font-weight: bold;
                            order: 3;
                        }
                    }
                    .cart-button{
                        @include col-auto(20%);
                        .btnorder {
                            height: 45px;
                            width: 240px;
                            float: right;
                            text-align: center;
                            line-height: 45px;
                            background-color: #d23e4c;
                            color: #fff;
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}