.customer{
    .custo-container{
        .row-banner{
            background-color: #dde2e6;
            .box-img{
                @include container-mw(1240px);
                padding: 0 15px;
                img{
                    @include img-res;
                }
            }
        }
        .row-content{
            @include container-mw(1240px);
            padding: 10px;
            .th-breadcrumb {
                width: 100%;
                line-height: 35px;
                position: relative;
                ul {
                    width: 70%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: inline-block;
                    li {
                        display: inline-block;
                        white-space: nowrap;
                        a {
                            color: #8a8a8a;
                            display: inline-block;
                            white-space: nowrap;
                            font-size: 13px;
                            i{
                                font-size: 9px;
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
            .row-content{
                border-top: 1px solid #f0f0f0;
                padding: 30px 0;
                @include row-fb;
                .col-left{
                    @include col-6;
                }
                .col-right{
                    @include col-6;
                }
                .tr-group-cs {
                    margin-bottom: 40px;
                    display: block;
                    span.tr-cs-newmember:before {
                        width: 62px;
                        height: 62px;
                        -ms-background-position: 0 -10px;
                        background-position: 0 1px;
                        margin-right: 10px;
                    }
                    span.tr-cs-km:before {
                        width: 62px;
                        height: 62px;
                        -ms-background-position: 0 -66px !important;
                        background-position: 0 -66px !important;
                        margin-right: 10px;
                    }
                    span.tr-cs-question:before {
                        width: 62px;
                        height: 62px;
                        -ms-background-position: 0 -134px !important;
                        background-position: 0 -134px !important;
                        margin-right: 10px;
                    }
                    span.tr-cs-note:before {
                        width: 62px;
                        height: 62px;
                        -ms-background-position: 0 -465px !important;
                        background-position: 0 -465px !important;
                        margin-right: 10px;
                    }
                    span.tr-cs-tt:before {
                        width: 62px;
                        height: 62px;
                        -ms-background-position: 0 -199px !important;
                        background-position: 0 -199px !important;
                        margin-right: 10px;
                    }
                    span.tr-cs-doitra:before {
                        width: 62px;
                        height: 62px;
                        -ms-background-position: 0 -266px !important;
                        background-position: 0 -266px !important;
                        margin-right: 10px;
                    }
                    span.tr-cs-giaohang:before {
                        width: 62px;
                        height: 62px;
                        -ms-background-position: 0 -333px !important;
                        background-position: 0 -333px !important;
                        margin-right: 10px;
                    }
                    span.tr-cs-doitac:before {
                        width: 62px;
                        height: 62px;
                        -ms-background-position: 0 -398px !important;
                        background-position: 0 -398px !important;
                        margin-right: 10px;
                    }
                    span.tr-bg-cs:before {
                        content: "";
                        background: url(https://file.yes24.vn/Content/desktop/images/bg-icon-ttkh.png) no-repeat;
                        float: left;
                    }
                    .tr-img-cs-left.left {
                        width: 72px;
                        float: left;
                    }
                    .tr-content-cs-right.left {
                        width: calc(100% - 72px);
                        float: left;
                    }
                    .tr-title-cs>a.tr-for-mem-cs {
                        font-weight: bold;
                        font-size: 17px;
                        color: #69c;
                        padding: 20px 0 10px;
                        text-transform: uppercase;
                        display: block;
                    }
                    ul.tr-list-content-cs {
                        width: 100%;
                        float: left;
                        li.tr-li-list-content {
                            padding: 5px 0;
                            i.fa.fa-circle {
                                font-size: 9px;
                                color: #69c;
                                -moz-transform: translateY(-33%);
                                -ms-transform: translateY(-33%);
                                -webkit-transform: translateY(-33%);
                                transform: translateY(-33%);
                                margin-right: 5px;
                            }
                        }
                        .tr-li-list-content>a {
                            color: #777;
                            font-size: 15px;
                        }
                    }
                    .tr-ul-sublist-cs {
                        padding-left: 28px;
                        -moz-box-sizing: border-box;
                        -ms-box-sizing: border-box;
                        box-sizing: border-box;
                        padding: 10px 0 10px 28px;
                        >li {
                            padding: 3px 0;
                            color: #777;
                            font-size: 15px;
                            i.fa.fa-circle {
                                color: #333 !important;
                                font-size: 7px !important;
                            }
                        }
                    }
                    .tr-list-content-cs{
                        margin-bottom: 20px;
                    }
                    a.left.tr-question {
                        font-size: 16px;
                        background-color: #d3364a;
                        padding: 7px 20px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }  
    }
}