.detailBody{
    @include container-mw(1240px);
    padding: 0 15px;
    margin-top: 25px;
        
    .dtbd-container{
        background: white;
        @include row-fb;
        font-family: $ft-def;
        font-weight: 300;

        .tr-prd-info-detail{
            @include col-auto(79%);
            border-right: 1px solid #f0f0f0;

            .tr-prd-info-title {
                font-size: 20px;
                font-weight: bold;
                padding: 15px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                border-bottom: 1px solid #f0f0f0;
            }
            .tr-prd-info-content {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px 20px 50px;
                font-size: 14px;
                min-height: 2055px;
                line-height: 2;

                h2 {
                    font-size: 20px !important;
                    font-weight: bold;
                }
                img{
                    @include img-res;
                }
            }
        }
        .tr-prd-info-relative{
            @include col-auto(21%);

            .tr-prd-info-title {
                font-size: 20px;
                font-weight: bold;
                padding: 15px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                border-bottom: 1px solid #f0f0f0;
            }
            img{
                @include img-res;
            }
            .th-product-item{
                padding: 10px;

                .th-product-info {
                    height: 44px;
                    line-height: 1.2;
                    padding-top: 10px;
                    text-align: left;

                    b {
                        font-weight: bold;
                        font-size: 12px;
                        text-transform: uppercase;
                        color: #333;
                        margin-right: 3px;
                    }
                    h3 {
                        display: initial;

                        a {
                            font-weight: 300 !important;
                            font-size: 14px !important;
                            color: #8e8c8c !important;
                            font-weight: normal;
                            text-transform: none;
                            line-height: 20px;
                        }
                    }
                }
                .th-product-price {
                    height: 22px;
                    line-height: 22px;
                    margin-top: 5px;

                    span.th-product-price-new {
                        font-weight: bold;
                        font-size: 17px;
                        color: #d3364a;
                        padding-right: 5px;
                    }
                    span.th-product-price-old {
                        font-weight: 300;
                        font-size: 12px;
                        text-decoration: line-through;
                        color: #a5a5a5;
                        width: 30%;
                        text-align: center;
                    }
                    span.th-product-discount {
                        background-color: #d3364a;
                        color: #fff;
                        float: right;
                        width: 24%;
                        text-align: center;
                        font-weight: bold;
                        padding: 0 2px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}