.detailFooter{
    @include container-mw(1240px);
    padding: 0 15px;
    margin-top: 25px;

    .dtft-container{
        background: white;
        @include row-fb;
        font-family: $ft-def;
        font-weight: 300;

        .tr-prd-info-detail{
            @include col-auto(79%);
            border-right: 1px solid #f0f0f0;
            padding-bottom: 35px;

            .row-tab{
                @include row-fb;
                a {
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -ms-box-sizing: border-box;
                    box-sizing: border-box;
                    border-bottom: 1px solid #000;
                    color: #999;
                    font-size: 20px;
                    padding: 17.8px 17px;
                    font-weight: bold;
                    border-bottom: 1px solid #f0f0f0;
                    display: block;
                }
                a.active{
                    border-bottom: 1px solid #000;
                    color: #333;
                }
                .tab-1{
                    @include col-6;
                    cursor: pointer;
                }
                .tab-2{
                    @include col-6;
                    cursor: pointer;
                }
            }
            .row-tab-content{
                .tab-content-1{
                    .row-title{
                        box-sizing: border-box;
                        padding: 10px 10px 15px 15px;
                        background-color: #f9f9f9;
                        line-height: 25px;

                        >div:first-child {
                            font-size: 16px;
                            color: #333;
                            font-weight: bold;
                            padding: 5px 0;

                            span {
                                color: #d4354b;
                            }
                        }
                        >div{
                            &:nth-child(2) {
                                font-weight: bold;
                                font-size: 14px;
                                padding-bottom: 5px;
                            }
                        }
                        ul {
                            li {
                                font-size: 14px;
                                line-height: 1.5;
                                color: #777;

                                i {
                                    color: #1968b6;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .tr-write-rank-prd{
                        box-sizing: border-box;
                        padding: 20px 15px;
                        border-bottom: 1px solid #ebebeb;
                        @include row-fb;
                        margin-bottom: 25px;

                        .tr-img-profile{
                            box-sizing: border-box;
                            padding: 0 10px;
                            @include col-auto(10%);
                            img{
                                @include img-res;
                                border: 1px solid #f0f0f0;
                            }
                        }
                        .nmarginleft-big{
                            @include col-auto(90%);
                            @include row-fb;

                            .titleComment {
                                font-weight: bold;
                                font-size: 16px;
                                color: #333;
                                margin-left: 20px !important;
                            }
                            .nmarginleft {
                                margin-left: 10px;
                                .starComment span {
                                    cursor: pointer;
                                    margin-right: 3px;
                                    font-size: 20px;
                                    float: none;
                                }
                                .tr-fa-yellow {
                                    color: #ffc52b;
                                }
                            }
                            .noteComment{
                                font-style: italic;
                            }
                            .tr-colComment3{
                                @include col-12;
                                @include row-fb;

                                textarea#ContentPlaceHolder2 {
                                    resize: none;
                                    font-family: $ft-def;
                                }
                                #ContentPlaceHolder2 {
                                    width: 70%;
                                    height: 40px;
                                    -moz-box-sizing: border-box;
                                    -webkit-box-sizing: border-box;
                                    -ms-box-sizing: border-box;
                                    box-sizing: border-box;
                                    padding: 10px;
                                    margin-top: 5px;
                                    margin-left: 20px;
                                    font-style: italic;
                                    border-right: 1px solid #fff;
                                }
                                #tr-send-content-rank {
                                    font-weight: bold;
                                    font-size: 18px;
                                    padding: 11px 20px;
                                    background-color: #d4354b;
                                    color: #fff;
                                    margin-top: 5px;
                                    height: 18px;
                                }
                            }
                        }
                    }
                    .tr-comment-wrapper{
                        .tr-comment-detail{
                            @include row-fb;
                            .tr-cmtdt-left-imgage{
                                @include col-auto(13%);
                                padding: 15px;
                                img{
                                    @include img-res;
                                }
                            }
                            .tr-cmtdt-right-content{
                                @include col-auto(87%);
                                .tr-cmtdt-name-seen {
                                    margin-bottom: 10px;
                                    span:first-child {
                                        font-weight: bold;
                                        font-size: 16px;
                                    }
                                }
                                .tr-cmtdt-star-date {
                                    font-size: 13px;
                                    float: left;
                                    span {
                                        font-size: 13px;
                                        float: left;
                                    }
                                    >span:nth-child(2) {
                                        color: #999;
                                    }
                                    >span:last-child {
                                        font-weight: bold;
                                    }
                                    >span {
                                        margin-right: 10px;
                                    }
                                    .tr-cmtdt-thank:before {
                                        -ms-content: "";
                                        content: "";
                                        background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png)no-repeat;
                                        float: left;
                                        width: 23px;
                                        height: 21px;
                                        -ms-background-position: -142px -646px;
                                        background-position: -142px -646px;
                                        margin-right: 5px;
                                        margin-top: -5px;
                                    }
                                    >span:last-child a {
                                        color: #69c;
                                        margin-right: 5px;
                                    }
                                }
                            }
                            .tr-cmdt-content-bottom{
                                margin-top: 20px;
                            }
                        }
                    }
                }
                .tab-content-2{
                    display: none;
                    .tr-hoidap-info {
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        -ms-box-sizing: border-box;
                        box-sizing: border-box;
                        padding: 10px 10px 15px 15px;
                        background-color: #f9f9f9;

                        p:first-child {
                            font-weight: bold;
                            font-size: 14px;
                            padding-bottom: 5px;
                        }
                        p:last-child {
                            font-size: 14px;
                            line-height: 1.5;
                            color: #777;
                        }
                    }
                }
            }
        }
        .tr-prd-info-relative{
            @include col-auto(21%);

            .tr-prd-info-title {
                font-size: 21px;
                font-weight: bold;
                padding: 17px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                -ms-border-radius: 0;
                border-radius: 0;
                border: 0;
                border-bottom: 1px solid #f0f0f0;
            }
            .tr-star-ranknum {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -ms-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                text-align: center;

                p:first-child {
                    font-weight: bold;
                    font-size: 48px;
                    color: #d23e4c;
                }
                p:last-child span {
                    font-size: 20px;
                    display: inline-block;
                    .fa-star {
                        color: #c5bdbd;
                        margin-right: 3px;
                        height: 12px;
                        font-size: 14px;
                    }
                    .tr-fa-yellow {
                        color: #ffc52b;
                    }
                }
            }
            .tr-star-ranknum-detail{
                clear: both;
                >.tr-rank-percent{
                    @include row-fb;
                    margin-bottom: 10px;
                    padding: 0 15px;

                    >div{
                        .fa-star {
                            color: #c5bdbd;
                            float: left;
                            margin-right: 3px;
                            height: 12px;
                            font-size: 14px;
                        }
                        .tr-fa-yellow {
                            color: #ffc52b;
                        }
                        &:nth-child(2) {
                            width: 65%;
                            text-align: center;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            -ms-box-sizing: border-box;
                            box-sizing: border-box;
                            padding: 0 6px;
                            margin-top: -4px;
                        }
                        .field-processbar {
                            height: 7px;
                            background-image: -webkit-linear-gradient(45deg,rgba(0,0,0,.15) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.15) 50%,rgba(0,0,0,.15) 75%,transparent 75%,transparent);
                            background-image: -o-linear-gradient(45deg,rgba(0,0,0,.15) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.15) 50%,rgba(0,0,0,.15) 75%,transparent 75%,transparent);
                            background-image: linear-gradient(45deg,rgba(0,0,0,.15) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.15) 50%,rgba(0,0,0,.15) 75%,transparent 75%,transparent);
                            background-color: #e3e1e1;
                            box-shadow: 0 1px 4px rgba(0,0,0,.1) inset;
                            -moz-border-radius: 4px;
                            -webkit-border-radius: 4px;
                            -ms-border-radius: 4px;
                            border-radius: 4px;
                            margin-top: 8px;
                            -ms-background-size: 10px 10px;
                            background-size: 10px 10px;
                            float: left;
                            width: 100%;
                        }
                        .processbar {
                            box-shadow: 0 1px 4px rgba(0,0,0,.1) inset;
                            background: #3c6abb;
                            background: -webkit-gradient(left top,right top,color-stop(0,#3c6abb),color-stop(100%,#69c));
                            background: -webkit-linear-gradient(left,#3c6abb 0,#69c 100%);
                            background: linear-gradient(to right,#3c6abb 0,#69c 100%);
                            -webkit-transition: width 2s ease;
                            -ms-transition: width 2s ease;
                            -o-transition: width 2s ease;
                            transition: width 2s ease;
                            height: 7px;
                            -moz-border-radius: 4px;
                            -webkit-border-radius: 4px;
                            -ms-border-radius: 4px;
                            border-radius: 4px;
                            position: relative;
                            width: 100%;
                            float: left;
                        }




                    }
                }
            }

            // .tr-rank-percent{
            //     >div {
            //         float: left;
            //         width: 15%;
    
            //         .fa-star {
            //             color: #c5bdbd;
            //             float: left;
            //             margin-right: 3px;
            //             height: 12px;
            //             font-size: 14px;
            //         }
            //         .tr-fa-yellow {
            //             color: #ffc52b;
            //         }
            //         &:nth-child(2) {
            //             width: 65%;
            //             text-align: center;
            //             -moz-box-sizing: border-box;
            //             -webkit-box-sizing: border-box;
            //             -ms-box-sizing: border-box;
            //             box-sizing: border-box;
            //             padding: 0 6px;
            //         }
            //         .field-processbar {
            //             height: 7px;
            //             background-image: -webkit-linear-gradient(45deg,rgba(0,0,0,.15) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.15) 50%,rgba(0,0,0,.15) 75%,transparent 75%,transparent);
            //             background-image: -o-linear-gradient(45deg,rgba(0,0,0,.15) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.15) 50%,rgba(0,0,0,.15) 75%,transparent 75%,transparent);
            //             background-image: linear-gradient(45deg,rgba(0,0,0,.15) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.15) 50%,rgba(0,0,0,.15) 75%,transparent 75%,transparent);
            //             background-color: #e3e1e1;
            //             box-shadow: 0 1px 4px rgba(0,0,0,.1) inset;
            //             -moz-border-radius: 4px;
            //             -webkit-border-radius: 4px;
            //             -ms-border-radius: 4px;
            //             border-radius: 4px;
            //             margin-top: 8px;
            //             -ms-background-size: 10px 10px;
            //             background-size: 10px 10px;
            //             float: left;
            //             width: 100%;
    
            //             .processbar {
            //                 box-shadow: 0 1px 4px rgba(0,0,0,.1) inset;
            //                 background: #3c6abb;
            //                 background: -webkit-gradient(left top,right top,color-stop(0,#3c6abb),color-stop(100%,#69c));
            //                 background: -webkit-linear-gradient(left,#3c6abb 0,#69c 100%);
            //                 background: linear-gradient(to right,#3c6abb 0,#69c 100%);
            //                 -webkit-transition: width 2s ease;
            //                 -ms-transition: width 2s ease;
            //                 -o-transition: width 2s ease;
            //                 transition: width 2s ease;
            //                 height: 7px;
            //                 -moz-border-radius: 4px;
            //                 -webkit-border-radius: 4px;
            //                 -ms-border-radius: 4px;
            //                 border-radius: 4px;
            //                 position: relative;
            //                 width: 100%;
            //                 float: left;
            //             }
            //         }
            //     }
            // }
        }
    }
}