.event{
    .evt-container{
        .evt-container-sub{
            .row-content-fill{
                @include col-12;
                @include row-fb;
                background: white;
                .event-items{
                    @include col-4;
                    padding: 15px;

                    .evnet-img{
                        >a{
                            img{
                                @include img-res;
                            }
                        }
                    }
                    .event-titles{
                        margin-top: 15px;
                        font-size: 15px;
                        line-height: 20px;
                        a {
                            color: #3e3e3e;
                            text-decoration: none;
                        }
                    }
                    .event-info {
                        width: 100%;
                        margin-top: 5px;
                        font-size: 13px;
                        line-height: 20px;
                        color: #999999;
                    }
                }
            }
        }
    }   
}