.loginRegister{
    display: none;
    .loginRegister-container{
        @include container-mw(780px);
        @include row-fb;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;

        .box-loginRegister{
            width: 780px;
            min-height: 500px;
            background: greenyellow;
            @include row-fb;
            position: relative;

            .box-left{
                @include col-auto(64%);
                background: white;

                .tleft {
                    width: 100%;
                    height: 10px;
                    background-color: #007daf;
                }
                .nav-tab {
                    height: 60px;
                    border-bottom: 1px solid #b8b8b8;
                    line-height: 30px;
                    padding: 0 30px;

                    >a {
                        display: inline-block;
                        padding: 5px 7px;
                        border-bottom: 3px solid #fff;
                        font-size: 20px;
                        color: #999;
                        padding-top: 20px;
                    }
                    >a.active {
                        display: inline-block;
                        padding: 5px 7px;
                        border-bottom: 3px solid #d3364a;
                        font-size: 20px;
                        -moz-box-sizing: border-box;
                        -ms-box-sizing: border-box;
                        box-sizing: border-box;
                        color: #333;
                        padding-top: 20px;
                    }
                }
                .nav-content{
                    #tr-login{
                        padding: 20px 20px 0;

                        .form-group{
                            margin-bottom: 15px;

                            .form-control{
                                box-sizing: border-box;
                                display: block;
                                width: 100%;
                                height: 40px;
                                padding: 6px 12px;
                                font-size: 13px;
                                font-family: $ft-def;
                                font-weight: 400;
                                line-height: 1.42857143;
                                color: #555;
                                background-color: #fff;
                                background-image: none;
                                border: 1px solid #ccc;
                                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                            }
                            a{
                                line-height: 40px;
                            }
                            a.tr-forgot-pwd {
                                display: block;
                                width: 100%;
                                font-size: 15px;
                                color: #105baa;
                                text-decoration: underline;
                                font-family: $ft-def;
                                font-style: italic;
                                text-transform: none;
                                margin-bottom: 10px;
                            }
                            .btnLogin{
                                color: #fff;
                                background-color: #d3364a;
                                border-color: #d3364a;
                                width: 100%;
                                height: 40px;
                                -ms-outline: none;
                                outline: none;
                                border: 0;
                                font-family: $ft-def;
                                font-weight: 600;
                                text-transform: uppercase;
                                font-size: 16px;
                                cursor: pointer;
                            }
                        }
                        .tr-label {
                            font-size: 15px;
                            color: #707070;
                            margin-bottom: 10px;
                            width: 100%;
                        }
                    }
                    #tr-register{
                        padding: 20px 20px 0;
                        display: none;

                        .tr-reg-wrapper{
                            @include row-fb;

                            .tr-col-215{
                                @include col-6;

                                .form-group{
                                    margin-bottom: 15px;
                                    
                                    .form-control{
                                        box-sizing: border-box;
                                        display: block;
                                        width: 100%;
                                        height: 40px;
                                        padding: 6px 12px;
                                        font-size: 13px;
                                        font-family: $ft-def;
                                        font-weight: 400;
                                        line-height: 1.42857143;
                                        color: #555;
                                        background-color: #fff;
                                        background-image: none;
                                        border: 1px solid #ccc;
                                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                                        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                                    }
                                }
                            }
                            .fix-left{
                                padding-right: 15px;
                            }
                            .fix-right{
                                padding-left: 15px;
                            }
                            .fix-radio{
                                font-family: $ft-def;
                                font-weight: 400;
                                margin-top: 8px;

                                input.tr-radio-btn {
                                    border: none;
                                    padding: 0;
                                    margin-right: 5px;
                                    margin-top: -2px;
                                    width: 16px;
                                    height: 16px;
                                    -moz-transform: scale(1);
                                    -ms-transform: scale(1);
                                    -webkit-transform: scale(1);
                                    transform: scale(1);
                                    vertical-align: middle;
                                }
                            }
                        }
                        .nrterm{
                            font-size: 13px;
                            text-align: left;
                            color: #707070;

                            a{
                                color: #3399cc;
                                text-transform: none;
                                font-weight: 700;
                            }
                        }
                        .btnRegister {
                            color: #fff;
                            background-color: #d3364a;
                            border-color: #d3364a;
                            width: 100%;
                            height: 40px;
                            -ms-outline: none;
                            outline: none;
                            border: 0;
                            font-family: $ft-def;
                            font-weight: bold;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                            font-size: 16px;
                            cursor: pointer;
                        }
                        .tr-label {
                            font-size: 15px;
                            color: #707070;
                            margin-bottom: 10px;
                            width: 100%;
                        }
                    }
                    .tr-social{
                        padding: 0 20px 20px;

                        .form-group{
                            @include row-fb;

                            .col-left{
                                @include col-6;
                                padding-right: 5px;

                                .nlitemsfb{
                                    height: 40px;
                                    background-color: #284786;
                                    cursor: pointer;
                                    position: relative;
                                    line-height: 40px;
    
                                    .mdi-facebook{
                                        font-size: 20px;
                                        padding: 0 9px;
                                        -moz-box-sizing: border-box;
                                        -ms-box-sizing: border-box;
                                        box-sizing: border-box;
                                        text-align: center;
                                        width: 20%;
                                        color: #fff;
                                        float: left;
                                        background-color: #1a346e;
                                    }
                                    .titlefb{
                                        color: #fff;
                                        font-size: 15px;
                                        font-weight: bold;
                                        font-family: $ft-def;
                                        margin-left: 50px;
                                    }
                                }
                            }
                            .col-right{
                                @include col-6;
                                padding-left: 5px;

                                .nlitemsgg{
                                    height: 40px;
                                    background-color: #e03c29;
                                    cursor: pointer;
                                    position: relative;
                                    line-height: 40px;
    
                                    .mdi-google{
                                        font-size: 20px;
                                        padding: 0 9px;
                                        -moz-box-sizing: border-box;
                                        -ms-box-sizing: border-box;
                                        box-sizing: border-box;
                                        text-align: center;
                                        width: 20%;
                                        color: #fff;
                                        float: left;
                                        background-color: #d52e20;
                                    }
                                    .titlegg{
                                        color: #fff;
                                        font-size: 15px;
                                        font-weight: bold;
                                        font-family: $ft-def;
                                        margin-left: 50px;
                                    }
                                }
                            }
                            
                            
                        }
                    }
                }
            }
            .box-right{
                @include col-auto(36%);

                .tright {
                    width: 100%;
                    height: 10px;
                    background-color: #d3364a;
                }
                .nallright{
                    width: 280px;
                    height: 500px;
                    background-color: #acacac;
                    position: relative;
                    color: #fff;

                    #tab-login{

                        .nfdiv07 {
                            position: absolute;
                            top: 25px;
                            left: 35px;
                            font-size: 45px;
                            line-height: 55px;
                            font-family: $ft-def;
                            font-weight: bold;
                            text-shadow: 0 1px 2px #000;
                            text-shadow: 0 1px 2px rgba(0,0,0,.6);
                        }
                        .nfdiv08 {
                            position: absolute;
                            top: 89px;
                            left: 33px;
                            font-size: 16px;
                            text-shadow: 0 1px 2px #000;
                            text-shadow: 0 1px 2px rgba(0,0,0,.6);
                        }
                        .nfdiv09 {
                            position: absolute;
                            top: 70px;
                            left: 69px;
                            font-size: 29px;
                            line-height: 55px;
                            font-family: $ft-def;
                            font-weight: bold;
                            text-shadow: 0 1px 2px #000;
                            text-shadow: 0 1px 2px rgba(0,0,0,.6);
                        }
                        .v01{
                            position: absolute;
                            height: 86px;
                            border-top: 1px solid #d8d8d8;
                            border-bottom: 1px solid #d8d8d8;
                            clear: both;
                            margin-top: 144px;
                            font-size: 14px;
                            width: 100%;
                            left: 0;
                            right: 0;
                            @include row-fb;
    
                            .v01items {
                                width: 69px;
                                height: 86px;
                                @include col-auto(69px);
                                border-right: 1px solid #d8d8d8;
                                line-height: 86px;
                                text-align: center;
                            }
                            .bgblack {
                                background-color: #7c7c7c;
                                height: 84px;
                            }
                            .bgdiamond{
                                border-right: none;
                            }
                            .bgsophia {
                                background: url(https://image.yes24.vn/upload/Content/desktop/images/bg/member_saphir.png) 15px 15px no-repeat;
                                .sppd {
                                    padding-top: 25px;
                                }
                            }
                            .bgrubi {
                                background: url(https://image.yes24.vn/upload/Content/desktop/images/bg/member_rubi.png) 15px 15px no-repeat;
                                .sppd {
                                    padding-top: 25px;
                                }
                            }
                            .bgdiamond {
                                background: url(https://image.yes24.vn/upload/Content/desktop/images/bg/member_diamond.png) 15px 15px no-repeat;
                                .sppd {
                                    padding-top: 25px;
                                }
                            }
                        }
                        .v02 {
                            position: absolute;
                            width: 100%;
                            height: 44px;
                            border-bottom: 1px solid #d8d8d8;
                            clear: both;
                            font-size: 14px;
                            top: 230px;
    
                            .v02items {
                                width: 69px;
                                height: 44px;
                                border-right: 1px solid #d8d8d8;
                                float: left;
                                line-height: 44px;
                                text-align: center;
                            }
                            .bgblack {
                                background-color: #7c7c7c;
                                height: 43px;
                            }
                            .fix-border-right{
                                border-right: 0;
                            }
                        }
                        .v03 {
                            position: absolute;
                            width: 100%;
                            height: 44px;
                            border-bottom: 1px solid #d8d8d8;
                            clear: both;
                            font-size: 14px;
                            top: 274px;
    
                            .v03items {
                                width: 69px;
                                height: 44px;
                                border-right: 1px solid #d8d8d8;
                                float: left;
                                line-height: 44px;
                                text-align: center;
                            }
                            .bgblack {
                                background-color: #7c7c7c;
                                height: 43px;
                            }
                            .fix-border-right{
                                border-right: 0;
                            }
                        }
                        .v04 {
                            position: absolute;
                            width: 100%;
                            height: 44px;
                            border-bottom: 1px solid #d8d8d8;
                            clear: both;
                            font-size: 14px;
                            top: 318px;
    
                            .v04items {
                                width: 69px;
                                height: 44px;
                                border-right: 1px solid #d8d8d8;
                                float: left;
                                line-height: 44px;
                                text-align: center;
                            }
                            .bgblack {
                                background-color: #7c7c7c;
                                height: 43px;
                            }
                            .fix-border-right{
                                border-right: 0;
                            }
                        }
                        .v05 {
                            position: absolute;
                            width: 100%;
                            height: 58px;
                            border-bottom: 1px solid #d8d8d8;
                            clear: both;
                            font-size: 14px;
                            top: 362px;
    
                            .v05items {
                                width: 69px;
                                height: 58px;
                                border-right: 1px solid #d8d8d8;
                                float: left;
                                line-height: 44px;
                                text-align: center;
                            }
                            .bgblack {
                                background-color: #7c7c7c;
                                height: 58px;
                            }
                            .fix-border-right{
                                border-right: 0;
                            }
                        }
                        .membershipdetails {
                            width: 95px;
                            height: 25px;
                            line-height: 27px;
                            position: absolute;
                            cursor: pointer;
                            bottom: 35px;
                            background-color: #333;
                            color: #fff;
                            text-transform: uppercase;
                            text-align: center;
                            left: 95px;
    
                            a{
                                color: white;
                            }
                            span{
                                margin-left: 10px;
                            }
                        }
                    }

                    #tab-register{
                        display: none;

                        .nrdiv01 {
                            position: absolute;
                            top: 27px;
                            left: 25px;
                            font-size: 31px;
                            text-shadow: 0 1px 2px rgba(0,0,0,.6);
                            font-family: $ft-def;
                            font-weight: 600;

                            b {
                                font-size: 45px;
                                font-weight: normal;
                                line-height: 55px;
                                font-family: $ft-def;
                                font-weight: 600;
                            }
                        }
                        .nrdiv02 {
                            position: absolute;
                            top: 50px;
                            font-size: 16px;
                            right: 25px;
                            text-shadow: 0 1px 2px rgba(0,0,0,.6);
                        }
                        .nrdiv03 {
                            position: absolute;
                            top: 135px;
                            font-size: 15px;
                            left: 17px;
                        }
                        .bgserial_register {
                            background: url(https://image.yes24.vn/upload/Content/desktop/images/bg/bg_seiral_login_resgister.png) 15px 15px no-repeat;
                            position: absolute;
                            top: 158px;
                            left: 3px;
                            width: 260px;
                            height: 140px;

                            .bgtext01 {
                                width: 160px;
                                text-align: center;
                                height: 30px;
                                margin-top: 33px;
                                margin-left: 57px;
                                font-size: 18px;
                                font-style: italic;
                                display: flex;
                                text-transform: uppercase;
                                line-height: 22px;
                            }
                            .bgtext02 {
                                clear: both;
                                width: 150px;
                                color: #0f5caa;
                                height: 30px;
                                line-height: 30px;
                                margin-left: 92px;
                                margin-top: 10px;
                                text-align: center;
                                font-weight: bold;
                                font-size: 32px;
                                font-style: italic;
                            }
                            .bgtext03 {
                                width: 100%;
                                text-align: center;
                                height: 30px;
                                margin-top: 10px;
                                margin-left: 5px;
                                font-size: 13px;
                                font-style: italic;
                            }
                        }
                        .nrdiv04 {
                            position: absolute;
                            top: 337px;
                            line-height: 18px;
                            font-size: 14px;
                            left: 17px;

                            span {
                                font-size: 15px;
                                font-weight: bold;
                                color: #0043ff;
                            }
                        }
                        .nrdiv05 {
                            position: absolute;
                            top: 403px;
                            line-height: 18px;
                            font-size: 14px;
                            left: 17px;

                            span {
                                font-size: 15px;
                                color: #f108f5;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .tclose{
                width: 27px;
                height: 27px;
                position: absolute;
                top: -10px;
                right: -10px;
                background: url(https://image.yes24.vn/upload/Content/mobile/images/ic_close.png) no-repeat;
                cursor: pointer;
                z-index: 500;
            }
        }
    }
    .loginRegister-close{
        position: fixed;
        z-index: 900;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.4);
    }
}
.loginRegister-active{
    display: block;
}