.boxBanner{
    @include container-mw(100%);
    padding: 15px 0;
    background: #000; 
    .boxBanner-container{
        @include container-mw(1240px);
        @include row-fb;
        .box{
            @include col-6;
            padding-bottom: 15px;
            font-family: $ft-def;
            margin-bottom: 15px;
            .pick-item{
                @include row-fb;
                >a{
                    display: block;
                    @include col-12;
                    img{
                        @include img-res;
                    }
                }
                >h3{
                    display: block;
                    @include col-auto(70%);
                    font-weight: bold;
                    font-size: 14px;
                    float: left;
                    padding-top: 15px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    a{
                        display: block;
                        color: #e2a952;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                }
                .time{
                    display: block;
                    @include col-auto(30%);
                    font-weight: 400;
                    font-size: 16px;
                    float: left;
                    width: 30%;
                    padding-top: 10px;
                    text-align: right;
                    color: #e2a952;
                    &::before {
                        content: '';
                        width: 18px;
                        height: 18px;
                        position: relative;
                        background: url(https://file.yes24.vn/Content/desktop/images/yes24-black/black-alarm.png) no-repeat;
                        display: inline-block;
                        margin-right: 5px;
                        top: 2px;
                    }
                }
            }
        }
        .last-child{
            padding-left: 15px;
        }
        .frist-child{
            padding-right: 15px;
        }
    }
}