.membership{
    .membershi-container{
        @include container-mw(1240px);
        @include row-fb;
        padding: 0 15px;

        .col-left{
            @include col-auto(20%);
            >a{
                img{
                    @include img-res;
                }
            }
            .mem-left-content-wrap {
                width: 100%;
                float: left;
                background-color: #ebebeb;
                .th-mem-left-content {
                    margin: 10px 10px 0 10px;
                    padding: 10px;
                    background-color: #fff;
                    ul{
                        @include container-mw(100%);
                        li {
                            width: 100%;
                            line-height: 30px;
                            a {
                                width: 100%;
                                display: block;
                                height: 100%;
                                font-size: 14px;
                                color: #000;
                                text-decoration: none;
                            }
                            a.active {
                                color: #69c;
                            }
                        }
                    }
                }
                .thu-hang{
                    text-align: center;
                    line-height: 25px;
                    p{
                        a{
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        .col-right{
            @include col-auto(80%);
            @include row-fb;
            padding: 15px 0 0 10px;

            .mem-content-main{
                @include col-12;
                font-family: $ft-def;
                background: #ececec;
                padding: 10px;
                .maintop11 {
                    width: 100%;
                    font-weight: 700;
                    color: #000;
                    font-size: 47px;
                    font-weight: normal;
                    padding: 5px 0;
                    text-align: center;
                }
                p {
                    text-align: center;
                    font-size: 14px;
                    line-height: 1.5;
                }
                .maintop13 {
                    margin: 15px;
                    background: #fff;
                    padding: 25px 30px;
                    .maintop13-wrap{
                        @include row-fb;
                        li{
                            @include col-3;
                            padding: 0 15px;
                            p{
                                text-align: center;
                                font-size: 14px;
                                line-height: 1.5;
                                img{
                                    @include img-res;
                                    text-align: center;
                                }
                                b {
                                    display: block;
                                    font-size: 15px;
                                    margin-top: 10px;
                                }
                                span {
                                    display: block;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    
                }
                .mem-rule {
                    margin: 0 15px;
                    font-family: $ft-def;
                    b {
                        font-weight: bold;
                        display: block;
                        margin-bottom: 10px;
                    }
                    ul{
                        li {
                            font-size: 14px;
                            margin-bottom: 5px;
                            line-height: 25px;
                            &::before {
                                content: '';
                                width: 5px;
                                height: 5px;
                                background: #d12e43;
                                margin-right: 10px;
                                display: inline-block;
                                position: relative;
                                top: -4px;
                                -ms-transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }

            .mem-uu-dai{
                margin-bottom: 10px;
                border-right: 1px solid #ebebeb;
                .row.row-title {
                    background: #333;
                    border: solid 1px #ebebeb;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;
                    font-size: 15px;
                    width: 100%;
                }
                .row:first-child .col40 {
                    font-weight: bold;
                    height: unset;
                    line-height: unset;
                }
                .col40 {
                    width: -webkit-calc(40% - 22px);
                    width: -o-calc(40% - 22px);
                    width: calc(40% - 22px);
                    border-right: solid 1px #ebebeb;
                    border-left: solid 1px #ebebeb;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 10px;
                    span {
                        display: block;
                        width: 35px;
                        height: 100%;
                        float: left;
                        margin-right: 15px;
                        i.yespoint-icon {
                            background: url(https://image.yes24.vn/Upload/Content/desktop/images/membership/icon-uudai.png) no-repeat;
                            background-position: -4px -34px;
                        }
                        i.keosao-icon {
                            background: url(https://image.yes24.vn/Upload/Content/desktop/images/membership/icon-uudai.png) no-repeat;
                            background-position: -4px -81px;
                        }
                        i.trungqua-icon {
                            background: url(https://image.yes24.vn/Upload/Content/desktop/images/membership/icon-uudai.png) no-repeat;
                            background-position: -4px -128px;
                        }
                        i.chinhsach-icon {
                            background: url(https://image.yes24.vn/Upload/Content/desktop/images/membership/icon-uudai.png) no-repeat;
                            background-position: -4px -177px;
                        }
                        i.giamgia-icon {
                            background: url(https://image.yes24.vn/Upload/Content/desktop/images/membership/icon-uudai.png) no-repeat;
                            background-position: -4px -232px;
                        }
                    }
                    label {
                        color: #90949c;
                        font-size: 12px;
                    }
                    i {
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        left: 5px;
                        float: left;
                        position: relative;
                        top: 3px;
                    }
                }
                .row:first-child .col20 {
                    height: unset;
                    line-height: unset;
                }
                .col20 {
                    width: -webkit-calc(20% - 1px);
                    width: -o-calc(20% - 1px);
                    width: calc(20% - 1px);
                    border-right: solid 1px #ebebeb;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    img {
                        position: relative;
                        top: 7px;
                        margin-right: 5px;
                        width: 25px;
                    }
                    &:last-child{
                        border-right: 0;
                    }
                    .th-margin-top-10{
                        img{
                            @include img-res;
                            width: 100%;
                            width: 150px;
                            margin-bottom: 15px;
                        }
                    }
                }
                .left{
                    float: left;
                }
                .full{
                    width: 100%;
                }
                .row {
                    background: #fff;
                    border-bottom: solid 1px #ebebeb;
                    font-size: 14px;
                    color: #000;
                    line-height: 1.3;
                }
            }

            .th-quatang-title {
                padding: 10px 0;
                font-weight: bold;
                border-bottom: solid 1px #000;
                margin-top: 10px;
                position: relative;
                @include container-mw(100%);

                a {
                    position: absolute;
                    font-weight: normal;
                    font-weight: 300;
                    font-size: 14px;
                    display: inline-block;
                    right: 0;
                    border: solid 1px #ededed;
                    padding: 3px 10px;
                    color: #3e3e3e;
                    text-decoration: none;
                }
            }
            .th-quatang-content {
                margin-top: 10px;
                margin-bottom: 20px;
                ul{
                    @include row-fb;
                    li{
                        @include col-3;
                        padding: 0 15px;
                        margin-bottom: 25px;
                        .quatang-item{
                            a{
                                color: #3e3e3e;
                                text-decoration: none;
                                img{
                                    @include img-res;
                                }
                            }
                            >a {
                                display: block;
                                float: left;
                                margin-top: 5px;
                                width: 100%;
                                font-size: 13px;
                                font-weight: bold;
                            }
                            >h3 {
                                a {
                                    display: inline-block;
                                    line-height: 20px;
                                    font-weight: 300;
                                    font-size: 13px;
                                }
                            }
                            >a.btn-thamgia {
                                font-weight: 300;
                                display: inline-block;
                                padding: 5px 10px;
                                background: #d3364a;
                                width: unset;
                                color: #fff;
                                text-decoration: none;
                                margin-bottom: 20px;
                                margin-top: 5px;
                                font-size: 13px;
                            }
                        }
                        img {
                            width: 100%;
                            border: solid 1px #ededed;
                        }
                    }
                }
            }
        }
    }
}