.partner{
    .part-container{
        .part-container-sub{
            .row-content-fill{
                @include col-12;
                background: white;

                .supplier-top {
                    @include container-mw(100%);
                    height: 260px;
                    padding-top: 40px;
                    margin-left: 35px;
                    background: url(https://image.yes24.vn/upload/Content/Images/AboutUs_06.jpg) no-repeat;
                    background-position: -4px 30px;
                    position: relative;
                    margin-right: 35px;
                    width: 100%;

                    .sup-text1 {
                        color: #6699cc;
                        position: absolute;
                        top: 66px;
                        left: 65px;
                        font-size: 26px;
                        line-height: 24px;
                    }
                    .sup-text2 {
                        color: #adad99;
                        position: absolute;
                        top: 100px;
                        left: 65px;
                        font-size: 15px;
                        line-height: 24px;
                    }
                    .sup-text3 {
                        position: absolute;
                        bottom: 25px;
                        font-size: 20px;
                    }
                    .sup-text4 {
                        color: #999999;
                        @include container-mw(100%);
                        position: absolute;
                        left: 0px;
                        bottom: -40px;
                        line-height: 24px;
                    }
                }
                .supplier-middle {
                    @include container-mw(100%);
                    height: 680px;
                    margin-left: 35px;
                    margin-right: 35px;
                    position: relative;
                    padding-top: 20px;
                    width: 100%;
                    .inputs {
                        width: 530px;
                        height: 35px;
                        margin-top: 25px;
                        margin-left: auto;
                        margin-right: auto;
                        border-bottom: 1px solid #ebebeb;
                        .inputstext {
                            width: 530px;
                            height: 30px;
                            border: none;
                            outline: none;
                            font-size: 17px;
                        }
                        .selectCategory {
                            width: 530px;
                            height: 30px;
                            border: none;
                            font-size: 17px;
                            outline: none;
                        }
                    }
                    .warning {
                        @include container-mw(100%);
                        height: 10px;
                        margin-top: 5px;
                        margin-left: 198px;
                        margin-right: auto;
                        color: #999999;
                        font-size: 13px;
                        font-style: italic;
                    }
                    .sup-button {
                        background-color: #d23e4c;
                        border: 1px solid #d23e4c;
                        color: #fff;
                        width: 165px;
                        height: 45px;
                        position: absolute;
                        bottom: 100px;
                        left: 198px;
                        cursor: pointer;
                        line-height: 45px;
                        text-align: center;
                    }
                }
                .supplier-bottom {
                    @include container-mw(100%);
                    height: 490px;
                    margin-left: 35px;
                    clear: both;
                    background: url(https://image.yes24.vn/upload/Content/Images/AboutUs_07.jpg) no-repeat;
                    background-position: -2px 0px;
                    position: relative;
                    width: 100%;
                    .bottom-text1 {
                        position: absolute;
                        top: -30px;
                        font-size: 20px;
                    }
                    .bottom-text2 {
                        position: absolute;
                        bottom: 172px;
                        font-size: 20px;
                    }
                    .bottom-text3 {
                        color: #999999;
                        position: absolute;
                        left: 30px;
                        bottom: 101px;
                    }
                    .bottom-text4 {
                        color: #999999;
                        position: absolute;
                        left: 30px;
                        bottom: 71px;
                    }
                    .bottom-text5 {
                        color: #999999;
                        position: absolute;
                        left: 30px;
                        bottom: 39px;
                    }
                    .bottom-text6 {
                        color: #999999;
                        position: absolute;
                        left: 358px;
                        bottom: 101px;
                    }
                    .bottom-text7 {
                        color: #999999;
                        position: absolute;
                        left: 358px;
                        bottom: 71px;
                    }
                    .bottom-text8 {
                        color: #999999;
                        position: absolute;
                        left: 358px;
                        bottom: 39px;
                    }
                    .bottom-text9 {
                        color: #999999;
                        position: absolute;
                        left: 670px;
                        bottom: 101px;
                    }
                    .bottom-text10 {
                        color: #999999;
                        position: absolute;
                        left: 670px;
                        bottom: 71px;
                    }
                    .bottom-text11 {
                        color: #6699cc;
                        position: absolute;
                        left: 670px;
                        bottom: 39px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}