.promotionBox{
    .prom-container{
        @include container-mw(1240px);
        @include row-fb;
        padding: 0 10px;

        .box-promo{
            @include col-4;
            padding: 0 5px;
            margin-bottom: 15px;

            >a{
                img{
                    @include img-res;
                }

                >.name {
                    font-size: 14px;
                    color: #333;
                    text-align: left;
                    line-height: 20px;
                    margin-top: 15px;
                    width: 100%;
                    float: left;
                    height: 40px;
                    overflow-y: hidden;

                    .brand {
                        font: 14px $ft-def;
                        font-weight: bold;
                        color: #6799cc;
                        text-transform: uppercase;
                        text-align: left;
                    }
                }
            }
        }
    }

    .row-pagination{
        .th-paging{
            @include row-fb;
            text-align: center;
            width: 100%;
            justify-content: center;
            padding: 60px 0;

            >li{
                margin: 0 5px;

                a{
                    border-width: 1px;
                    border-style: solid;
                    border-color: #c2c2c2;
                    padding: 3px 10px;
                    padding: 3px 10px;
                    font: 15px $ft-def;
                    font-weight: bold;
                    margin-top: -3px;
                    color: #c2c2c2;
                }
                .active {
                    background: #c2c2c2;
                    color: white;
                }
            }
        }
    }
}