.reason{
    @include container-mw(100%);
    background: #e2a952;
    padding: 25px 0 35px 0;
    .reaso-container{
        @include container-mw(1240px);
        font-family: $ft-def;
        .row-1{
            >p {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                padding: 25px 0 35px 0;
                text-transform: uppercase;
            }
        }
        .row-2{
            @include row-fb;
            >ul{
                @include row-fb;
                width: 100%;
                li{
                    @include col-3;
                    text-align: center;
                    line-height: 20px;
                    img{
                        display: block;
                        @include container-mw(100%);
                    }
                    strong {
                        font-weight: bold;
                        font-size: 18px;
                        text-transform: uppercase;
                        display: block;
                        text-align: center;
                        padding-top: 15px;
                    }
                    p {
                        text-align: center;
                        color: #000;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}