.bannerSlidePromotion{
    .bnsdpr-container{
        @include container-mw(1240px);
        padding: 0 15px;

        .outer{
            position: relative;
            .fadeOut{
                .owl-nav,
                .owl-dots{
                    display: none !important;
                }
                .item{
                    img{
                        @include img-res;
                    }
                }
            }
            #thumbs{
                position: absolute;
                right: 25px;
                top: 40px;
                width: 268px !important;

                .owl-stage-outer{
                    .owl-stage{
                         @include row-fb;
                        width: 100% !important;

                        .owl-item{
                            @include col-12;
                            margin-right: 0 !important;
                            margin-bottom: 1px;
                            border: 1px solid #fff;
                            padding: 0 !important;
                            cursor: pointer;
                        }
                        .current{
                            .item{
                                height: 80px !important;
                                padding: 0 !important;
                                position: relative !important;

                                img{
                                    @include img-res;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .owl-nav,
                .owl-dots{
                    display: none !important;
                }
            }
        }

        .sub-bannerSlide{
            @include container-mw(100%);
            @include row-fb;
            margin: 10px 0 15px;

            a{
                img{
                    @include img-res;
                }
            }

            .col-left{
                @include col-6;
            }
            .col-right{
                @include col-6;
            }
        }

    }
}