.mainTodaySale{
    .mtdsale-container{
        @include container-mw(1240px);
        padding: 0 8px;

        .row-1{
            @include row-fb;
            padding: 0 7px;

            .home-top-title{
                @include col-auto(10%);
                padding-top: 35px;
                font-size: 17px;
                font-family: RobotoBold;
                font-weight: unset;
                padding-right: 5px;
                width: 115px;
                font-family: $ft-def;
                font-weight: bold;
            }
            .tr-wrapper-time-tdsale{
                @include col-auto(90%);
                width: calc(100% - 120px);
                padding-top: 35px;
                color: #dd8088;            
            }
        }
        
        .row-2{
            @include row-fb;
            padding-top: 10px;

            .col-left-slide{
                @include col-auto(25%);
                padding: 8px;
                background-color: #d3364a;

                .box-top{
                    .item{
                        >a{
                            >img{
                                @include img-res;
                            }
                        }
                    }
                    .box-bott{
                        color: white;
                        font-family: $ft-def;
                        margin-top: 4px;
    
                        .tr-brandname-sdsale{
                            width: 100%;
                            text-align: left;
                            text-transform: uppercase;
                            padding: 5px 0 3px;
                            font-size: 16px;
                            overflow: hidden;
                            max-width: 100%;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            display: block;
                        }
                        .tr-content-td-sale{
                            font-size: 14px;
                            line-height: 1.5;
                            height: 42px;
                            overflow: hidden;
                            font-weight: normal;
                            a{
                                color: white;
                            }
                        }
                        .tr-price-tdsale{
                            margin-top: 7px;
                            @include row-fb;
    
                            .price-km{
                                @include col-6;
                                text-align: left;
                                text-align: left;
                                color: #fae81c;
                                font-size: 17px;
                                font-weight: bold;
                            }
                            .price-cost{
                                @include col-6;
                                text-align: right;
                                text-decoration: line-through;
                                font-size: 15px;
                                line-height: 23px;
                            }
                        }
                    }
                    .owl-dots{
                        display: none;
                    }
                    .owl-nav{
                        .owl-prev,
                        .owl-next{
                            position: absolute;
                            top: 35%;
                            width: 30px;
                            font-size: 45px;
                            background: none;
                            outline: none;
                            padding: 0;
                            border: 0;
                            color: #bcbcbc;
                        }
                        .owl-next{
                            right: 0;
                        }
                        .owl-prev{
                            left: 0;
                        }
                    }
                }
                
                
            }
            .col-right-box{
                @include col-auto(75%);
                @include row-fb;

                .box-banner{
                    @include col-4;
                    padding: 0 6px;

                    >a{
                        .top-img{
                            >img{
                                @include img-res;
                                min-height: 300px;
                            }
                        }
                        .bott-content{
                            width: 100%;
                            box-sizing: border-box;
                            border: 1px solid #f0f0f0;
                            height: 115px;
                            line-height: 1.5;
                            padding: 15px 0;
                            text-align: center;
                            color: #000;
                            font-family: $ft-def;

                            .tr-kotra-title1,
                            .tr-kotra-title3{
                                font-size: 16px;
                            }
                            .tr-kotra-title2{
                                text-transform: uppercase;
                                text-align: center;
                                font-size: 18px;
                                font-weight: bold;
                            }
                            >hr{
                                box-sizing: border-box;
                                margin: 0 auto;
                                margin-left: auto;
                                background-color: #000;
                                color: #000;
                                height: 1px;
                                width: 75px;
                                text-align: center;
                                border: 1px solid #000;
                                margin-left: calc(50% - 37px);
                            }
                        }
                    }
                }

            }
        }

        
    }
}
