.todaySalePage{
    .tdsp-container{
        .todaysale-top {
            background: #d3354b;
            height: 100px;
            font-family: $ft-def;
            .wrapper{
                @include container-mw(1240px);
                @include row-fb;
                padding: 0 15px;
                .top-left{
                    @include col-auto(50%);
                    img{
                        @include img-res;
                        margin: 20px 15px 0 0;
                    }
                }
                .top-right{
                    @include col-auto(50%);
                    color: #fff;
                    display: flex;
                    height: auto;
                    -ms-align-items: center;
                    -o-align-items: center;
                    -webkit-align-items: center;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 40px;
                    padding-top: 25px;
                    .day{
                        font-weight: bold;
                        margin-right: 15px;
                        font-size: 18px;
                        text-transform: uppercase;
                    }
                    .countdown{
                        span{
                            background: #000;
                            font-size: 37px;
                            border-radius: 5px;
                            margin-right: 10px;
                            position: relative;
                            &::after{
                                content: ':';
                                position: absolute;
                                right: -10px;
                            }
                            &:last-child{
                                &::after{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .todaysale-slide{
            @include container-mw(1240px);
            .owl-theme{
                .owl-dots{
                    button{
                        background: none;
                        border: none;
                        outline: none;
                        padding: 0;
                    }
                    .owl-dot.active {
                        span {
                            background-color: #ce283f;
                        }
                    }
                }
                .owl-nav {
                    button{
                        position: absolute;
                        top: 50%;
                        background: none;
                        outline: none;
                        border: none;
                        color: #D6D6D6;
                        font-size: 50px;
                    }
                    .owl-prev{
                        left: 0;
                    }
                    .owl-next{
                        right: 0;
                    }
                }
                .item{
                    @include row-fb;
                    .hot-left{
                        @include col-6;
                        text-align: right;
                        @include row-fb;
                        justify-content: flex-end;
                        a{
                            text-align: right;
                            img{
                                @include img-res;
                                width: 400px;
                            }
                        }
                    }
                    .hot-right{
                        @include col-6;
                        padding-top: 85px;
                        padding-left: 60px;
                        b {
                            font-size: 24px;
                            font-weight: bold;
                            margin-bottom: 10px;
                            color: #333;
                        }
                        .pro-name {
                            width: 80%;
                            a {
                                font-size: 20px;
                                color: #333;
                                font-weight: normal;
                                height: 54px;
                                overflow: hidden;
                                line-height: 1.3;
                            }
                        }
                        .main-price {
                            display: inline-block;
                            width: 100%;
                            margin-top: -1px;
                            margin-bottom: 20px;
                            li:nth-child(1) {
                                width: 20%;
                                float: left;
                            }
                            .icon-downlrg {
                                -ms-background-position: -1px -526px;
                                background-position: -1px -526px;
                                width: 67px;
                                height: 83px;
                                display: inline-block;
                                -ms-background-size: initial;
                                background-size: initial;
                                background-image: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png);
                                background-repeat: no-repeat;
                            }
                            .percent {
                                color: #fff;
                                font-size: 24px;
                                font-weight: bold;
                                margin: 30px 0 0 0;
                                display: block;
                                text-align: center;
                                sup {
                                    font-size: 14px;
                                }
                            }
                            .price {
                                color: #999;
                                font-size: 22px;
                                display: block;
                                margin-top: 10px;
                                text-decoration: line-through;
                            }
                            .discount {
                                color: #d23448;
                                font-size: 36px;
                                font-weight: bold;
                            }
                        }
                        .order {
                            background: #6699cc;
                            font-size: 22px;
                            color: #fff;
                            height: 55px;
                            display: inline-flex;
                            -ms-align-items: center;
                            -o-align-items: center;
                            -webkit-align-items: center;
                            align-items: center;
                            padding: 0 20px;
                            .icon-cart {
                                -ms-background-position: -145px -582px;
                                background-position: -145px -582px;
                                width: 34px;
                                height: 29px;
                                display: inline-block;
                                -ms-background-size: initial;
                                background-size: initial;
                                background-image: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png);
                                background-repeat: no-repeat;
                            }
                            span {
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }
        }
        
        .todaysale-boxProduct{
            @include container-mw(100%);
            background-color: #ededed;
            margin-bottom: 30px;
            .todas-boxpr-container{
                @include container-mw(1240px);
                padding: 4px 0;
                .ca-title {
                    margin: 10px 0;
                    font-size: 20px;
                    font-weight: bold;
                    color: #333;
                    text-transform: uppercase;
                    span {
                        color: #676767;
                        font-size: 14px;
                        font-weight: 300;
                        margin-left: 5px;
                        text-transform: none;
                    }
                    .icon-calendar {
                        -ms-background-position: -98px -666px;
                        background-position: -98px -666px;
                        width: 22px;
                        height: 20px;
                        display: inline-block;
                        margin-right: 10px;
                        -ms-background-size: initial;
                        background-size: initial;
                        background-image: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png);
                        background-repeat: no-repeat;
                    }
                }
            }
        }

        .row-boxProslide{
            @include container-mw(1240px);
            padding: 0 15px;
            .ca-list{
                @include row-fb;
                .box{
                    @include col-6;
                    // background: white;
                    border-right: 1px solid #ededed;
                    margin-bottom: 25px;
                    .day {
                        display: inline-block;
                        padding: 5px 12px 6px;
                        background: #999;
                        color: #fff;
                        font-size: 18px;
                        text-transform: uppercase;
                        position: relative;
                        &::after {
                            -ms-content: "";
                            content: "";
                            border-left: 0 solid transparent;
                            border-right: 17px solid transparent;
                            position: absolute;
                            top: 0;
                            right: -17px;
                            border-bottom: 38px solid #999;
                        }
                    }
                    .owl-theme{
                        background: white;
                        .owl-dots{
                            display: none;
                        }
                        .owl-nav{
                            button{
                                background: none;
                                outline: none;
                                border: none;
                                color: #D6D6D6;
                                position: absolute;
                                top: 40%;
                                font-size: 40px;
                            }
                            .owl-prev{
                                left: 0;
                            }
                            .owl-next{
                                right: 0;
                            }
                        }
                        .item{
                            @include row-fb;
                            padding: 0 25px;
                            .hot-left{
                                @include col-6;
                                a{
                                    img{
                                        @include img-res;
                                        width: 250px;
                                        height: 250px;
                                    }
                                }
                            }
                            .hot-right{
                                @include col-6;
                                margin-top: 40px;
                                color: #3e3e3e;
                                b {
                                    font-weight: bold;
                                    text-transform: capitalize;
                                }
                                .pro-name {
                                    font-size: 14px;
                                    color: #333;
                                    width: 80%;
                                    line-height: 20px;
                                    font-weight: normal;
                                    height: 40px;
                                    overflow: hidden;
                                }
                                .line {
                                    border-bottom: 1px solid #555;
                                    width: 100%;
                                    line-height: 15px;
                                }
                                .main-price {
                                    display: inline-block;
                                    width: 100%;
                                    margin-top: -1px;
                                    margin-bottom: 20px;
                                    @include row-fb;
                                    li:nth-child(1) {
                                        width: 30%;
                                        float: left;
                                    }
                                    li:nth-child(2) {
                                        width: 68%;
                                        .price {
                                            color: #999;
                                            font-size: 18px;
                                            display: block;
                                            margin-top: 10px;
                                            text-decoration: line-through;
                                        }
                                        .discount {
                                            color: #d23448;
                                            font-size: 30px;
                                            font-weight: bold;
                                            margin-top: 5px;
                                        }
                                    }
                                    .icon-down {
                                        -ms-background-position: -80px -527px;
                                        background-position: -80px -527px;
                                        width: 56px;
                                        height: 69px;
                                        display: inline-block;
                                        -ms-background-size: initial;
                                        background-size: initial;
                                        background-image: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png);
                                        background-repeat: no-repeat;
                                        .percent {
                                            color: #fff;
                                            font-size: 20px;
                                            font-weight: bold;
                                            margin: 24px 0 0 0;
                                            display: block;
                                            text-align: center;
                                            > sup {
                                                font-size: 13px;
                                            }
                                            > span {
                                                font-size: 11px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .box-right{
                    border-right: 0;
                }
                .box-right-fix-date{
                    background: #e3e3e3;
                    margin-top: 28px;
                    height: 250px;
                    .sms-title {
                        width: 100%;
                        text-align: center;
                        color: #333;
                        font-size: 24px;
                        font-weight: bold;
                        margin: 25px 0 0;
                        text-transform: uppercase;
                        display: inline-flex;
                        -o-justify-content: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -ms-align-items: center;
                        -o-align-items: center;
                        -webkit-align-items: center;
                        align-items: center;
                        .icon-sms {
                            -ms-background-position: -160px -368px;
                            background-position: -160px -368px;
                            width: 26px;
                            height: 26px;
                            display: inline-block;
                            margin-right: 10px;
                            -ms-background-size: initial;
                            background-size: initial;
                            background-image: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png);
                            background-repeat: no-repeat;
                        }
                    }
                    .sms-title2 {
                        color: #777;
                        font-size: 14px;
                        text-align: center;
                        margin-bottom: 15px;
                    }
                    .check-list {
                        width: 95%;
                        display: inline-block;
                        margin-left: 18px;
                        li {
                            float: left;
                            width: 14%;
                            display: inline-block;
                            height: 75px;
                            background: #fff;
                            text-align: center;
                            padding-top: 20px;
                            .cir {
                                background: #e1e1e1;
                                padding: 7px 16px;
                                -ms-border-radius: 25px;
                                border-radius: 25px;
                                cursor: pointer;
                            }
                            .t-day {
                                display: block;
                                margin-top: 20px;
                                color: #676767;
                                font-size: 14px;
                            }
                        }
                    }
                    .sms-title3 {
                        color: #999999;
                        font-size: 13px;
                        display: inline-block;
                        margin: 15px 10px 0 17px;
                    }
                    .sms-btn {
                        font-size: 18px;
                        font-weight: bold;
                        color: #fff;
                        background: #d4354b;
                        border: 0;
                        padding: 5px 17px;
                        margin-top: 17px;
                        display: inline-block;
                        float: right;
                        margin-right: 25px;
                        text-transform: uppercase;
                        cursor: pointer;
                        -ms-outline: none;
                        outline: none;
                    }
                }
            }
        }
    }
}