.contactPage{
    padding: 7em 0;
    position: relative;
    background: #fafafa;

    .ctpage-container{
        @include container-mw(1300px);

        .contact-info{
            @include row-fb;
            @include ft-default;
            margin-bottom: 3rem;

            .col-title{
                @include col-auto(100%);
                margin-bottom: 1.5rem;

                h2{
                    line-height: 1.5;
                    color: rgba(0,0,0,.8);
                    font-weight: 400;
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }
            }
            .col{
                @include col-3;
                
                a{
                    color: unset;
                }
            }
        }
        
    }
}