//! fonts style
$ft-def: 'Open Sans', sans-serif;
$ft-def2: 'Oswald', sans-serif;
$ft-def3: 'Montserrat', sans-serif;

//! background url
$bgURL: "./../img/";

//! color
$white: #fff;
$color-txt: #495057;