.singleCategory{
    .singleCatego-container{
        .row-2{
            .col-right{
                @include row-fb;
                .boxSlideImg{
                    @include col-auto(58.333333%);
                    padding-right: 15px;
                    margin-top: -20px;
                    .slider-container{
                        cursor: grab;
                        &:hover{
                            .owl-nav{
                                opacity: 1 !important;
                            }
                            .slider{
                                .item{
                                    .content{
                                        .boxIMhover{
                                            opacity: 1 !important;
                                        }
                                    }
                                }
                            }
                        }
                        .owl-dots{
                            display: none;
                        }
                        .owl-dots-active{
                            display: block;
                        }
                        .owl-nav{
                            opacity: 0;
                            transition: all .5s;
                            button{
                                position: absolute;
                                top: 40%;
                                background: none;
                                border: none;
                                outline: none;
                                font-size: 45px;
                                font-weight: 700;
                            }
                            .owl-prev{
                                left: 15px;
                            }
                            .owl-next{
                                right: 30px;
                            }
                        }
                        .owl-stage-outer{
                            margin-top: 10px;
                            .owl-stage{
                                .owl-item{
                                    .item{
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                        .thumbnail-slider-container{
                            .owl-nav{
                                display: none !important;
                                opacity: 0 !important;
                            }
                        }
                        .slider{
                            .item{
                                background: red;
                                .content{
                                    position: relative;
                                    .boxIMhover{
                                        position: absolute;
                                        width: 50%;
                                        height: 50%;
                                        z-index: 1000;
                                        left: 0;
                                        right: 0;
                                        top: 0;
                                        background: white;
                                        opacity: 0;
                                        transition: all .5s;
                                        img{
                                            @include img-res;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .boxContentDetail{
                    @include col-auto(41.666667%);
                    padding-left: 15px;
                    .product-single-details{
                        font-family: $ft-def;
                        .product-title {
                            color: #21293c;
                            font-weight: 600;
                            font-size: 1.5rem;
                            letter-spacing: -.01em;
                            margin-bottom: .3rem;
                            line-height: 1.25;
                            font-family: $ft-def;
                        }
                        .ratings-container {
                            margin-bottom: 1.1rem;
                            .product-ratings{
                                position: relative;
                                display: inline-block;
                                font-size: .7rem;
                                letter-spacing: 0.1em;
                                line-height: 1;
                                font-family: 'porto';
                                i{
                                    color: #777;
                                }
                                i.active{
                                    color: #000;
                                }
                            }
                            .rating-link {
                                font-weight: 500;
                                color: #90939a;
                                letter-spacing: .025em;
                                margin-left: .7rem;
                            }
                        }
                        .price-box {
                            color: #0e0e0e;
                            font-weight: 700;
                            margin-bottom: 1.4rem;
                            font-family: $ft-def2;
                            .old-price {
                                font-weight: 600;
                                font-size: 1rem;
                                color: #6e6e6e;
                                text-decoration: line-through;
                            }
                            .old-price + .product-price {
                                margin-left: .7rem;
                                font-size: 1.3rem;
                            }
                        }
                        p{
                            margin-bottom: 1rem;
                        }
                        .product-desc {
                            font-size: .9rem;
                            line-height: 1.92;
                            letter-spacing: .005em;
                            padding-bottom: 1.7rem;
                            border-bottom: 1px solid #dae2e6;
                            margin-bottom: 1.7rem;
                            color: #777;
                        }
                        .product-single-share {
                            display: flex;
                            align-items: center;
                            label {
                                color: #7b858a;
                                font-family: $ft-def;
                                font-size: .9rem;
                                line-height: 1.1;
                                font-weight: 600;
                                letter-spacing: .005em;
                                text-transform: uppercase;
                                margin-right: .8rem;
                            }
                            a {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                background: #4c4c4c;
                                color: #fff;
                                border-radius: 50%;
                                width: 30px;
                                height: 30px;
                                margin-right: 7px;
                                font-size: 12px;
                            }
                        }
                        form{
                            margin-bottom: 2.5rem;
                            .product-filters-container {
                                margin-bottom: 2.5rem;
                                .product-single-filter {
                                    display: flex;
                                    align-items: center;
                                    padding-bottom: 1.7rem;
                                    border-bottom: 1px solid #dae2e6;
                                    label {
                                        color: #21293c;
                                        font-weight: 600;
                                        font-size: .9rem;
                                        line-height: 1.1;
                                        font-family: $ft-def;
                                        letter-spacing: .005em;
                                        text-transform: uppercase;
                                        margin-right: 1.3rem;
                                        margin-bottom: 0;
                                    }
                                    b{
                                        color: #777;
                                        padding: 3px 0;
                                        input{
                                            margin-top: -2px;
                                        }
                                    }
                                }
                                .product-single-filter +.product-single-filter {
                                    margin-top: 1.2rem;
                                }
                            }
                            .product-action {
                                justify-content: flex-start;
                                margin-bottom: 2.1rem;
                                display: flex;
                                align-items: center;
                                .product-single-qty {
                                    max-width: 104px;
                                    max-height: 43px;
                                    .bootstrap-touchspin.input-group {
                                        display: flex;
                                        align-items: stretch;
                                        flex-wrap: nowrap;
                                        max-width: 100%;
                                        padding-right: 0;
                                        max-height: 43px;
                                    }
                                    .btn.btn-outline {
                                        color: #8798a1;
                                        border-color: #dae2e6;
                                    }
                                    .btn {
                                        position: relative;
                                        z-index: 2;
                                        font-family: $ft-def2;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        min-width: 31px;
                                        font-size: 2rem;
                                        padding: .5rem;
                                        line-height: 1;
                                        margin: 0;
                                        background: none;
                                        border: none;
                                        outline: none;
                                    }
                                    .bootstrap-touchspin {
                                        .form-control {
                                            color: #21293c;
                                            font-size: 1rem;
                                            letter-spacing: .05em;
                                            padding: .5rem .2rem;
                                            max-width: none;
                                            box-shadow: none;
                                            width: 30px;
                                        }
                                    }
                                }
                                .product-single-qty+.add-cart {
                                    margin-left: .7rem;
                                    font-weight: 400;
                                    font-size: .8rem;
                                    line-height: 1;
                                    font-family: $ft-def2;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    background-color: #0e0e0e;
                                    color: #fff;
                                    padding: .85rem 1rem;
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: relative;
                                    transition: all .3s;
                                    text-decoration: none;
                                    cursor: pointer;
                                    i{
                                        margin-right: 5px;
                                    }
                                }
                                .paction{
                                    margin-left: 10px;
                                    font-size: 1.2rem;
                                    color: #c1c3c5;
                                }
                            }
                        }
                    }
                }
            }
            .col-left{
                .colLeft-container{
                    .widget {
                        padding: 1rem;
                        border: 1px solid #efefef;
                        border-bottom: none;
                        margin: 0;
                        &:last-child {
                            border-bottom: 1px solid #efefef;
                        }
                    }
                    .widget-title {
                        font-weight: 400;
                        font-size: .9rem;
                        line-height: 1.1;
                        text-transform: uppercase;
                        font-family: $ft-def2;
                        margin: 0;
                        a{
                            color: #252525;
                            position: relative;
                            display: block;
                            i{
                                position: absolute;
                                right: 0;
                                font-weight: 300;
                                margin-right: 5px;
                            }
                        }
                    }
                    .widget-body {
                        padding-top: .7rem;
                        padding-bottom: .9rem;
                        .cat-list {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            margin-top: 10px;
                            li{
                                margin-bottom: .7rem;
                                a {
                                    font-weight: 400;
                                    color: #777;
                                    transition: all .3s;
                                    &:hover{
                                        text-decoration: underline;
                                        color: #0e0e0e;
                                    }
                                    span{
                                        float: right;
                                    }
                                }
                            }
                        }
                        .config-size-list{
                            display: flex;
                            label{
                                display: flex;
                                align-items: center;
                            }
                        }
                        .listProductSB{
                            .owl-dots{
                                display: none;
                            }
                            .item{
                                font-family: $ft-def;
                                .product{
                                    margin-bottom: 1.2rem;
                                    width: 100%;
                                    clear: both;
                                    .product-image-container {
                                        float: left;
                                        max-width: 70px;
                                        margin-bottom: .5rem;
                                        position: relative;
                                        display: block;
                                        background-color: #fafafa;
                                        overflow: hidden;
                                        margin: 0 0 1rem;
                                    }
                                    a {
                                        color: #0e0e0e;
                                        text-decoration: none;
                                        transition: all .3s;
                                    }
                                    .product-details {
                                        margin-left: 90px;
                                        text-align: left;
                                        padding: 0;
                                        .product-title {
                                            font-size: .8rem;
                                            margin-bottom: .3rem;
                                            margin-top: .1rem;
                                            a{
                                                color: #4a5157;
                                                line-height: 1.25;
                                                font-weight: 400;
                                            }
                                        }
                                        .ratings-container{
                                            font-size: .6rem;
                                            color: #c3c5c9;
                                            .rating-ac{
                                                color: #4a5157;
                                            }
                                        }
                                        .price-box {
                                            margin-top: 10px;
                                            font-family: $ft-def2;
                                            line-height: 1;
                                            font-weight: 400;
                                            color: #252525;
                                            .old-price {
                                                color: #6e6e6e;
                                                text-decoration: line-through;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .widget-scrolRig{
                        margin-top: 20px;
                        .ui-widget.ui-widget-content {
                            height: 4px;
                            border-radius: 0;
                            border: none;
                            background: #EFEFEF;
                        }
                        .ui-slider .ui-slider-handle {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            top: -5px;
                            background: #0e0e0e;
                        }
                        .ui-slider-horizontal .ui-slider-range {
                            background: #0e0e0e;
                        }
                        .row-showPrice{
                            margin-top: 20px;
                            .btn {
                                font-size: .8rem;
                                padding: .1rem .5rem;
                                letter-spacing: .08em;
                                cursor: pointer;
                                color: #fff;
                                background-color: #0e0e0e;
                                border-color: #0e0e0e;
                                box-shadow: none;
                                line-height: 1.5;
                                font-family: $ft-def2;
                                text-transform: uppercase;
                                border-radius: 2px;
                                transition: all .3s;
                            }
                            input{
                                text-align: center;
                                border: none;
                                outline: none;
                                color: #777;
                            }
                        }
                    }
                }
            }
        }
        
    }
}