
//! fonts style
$ft-Poppins: 'Poppins', sans-serif;
$ft-PlayfairDisplay: 'Playfair Display', serif;
$FT-SourceSansPro: 'Source Sans Pro', sans-serif;
$ft-ShadowToLight: 'Shadows Into Light', cursive;

//! background url
$bgURL: "./../img/";

//! color
$white: #fff;
$color-txt: #495057;

//! fonts default
$ft-def: 'Roboto', sans-serif; 