@import "../../helper/mixin.scss";
@import "../../helper/variable.scss";
@import "../../helper/font.scss";

.ft-container{
    @include container-mw(100%);

    // top
    .footer-top{
        .ft-t-container{
            @include container-mw(1140px);
            padding: 3rem 0;
            font-family: $ft-content;

            >h2.ft-title{
                font-family: $ft-title-1;
                font-size: 22px;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: .5rem;
            }
            >p.ft-main{
                color: #383737;
                font-size: 15px;
                margin-bottom: 1.5rem;
                line-height: 1.9;
                letter-spacing: 1px;
            }
            .box-img-container{
                border-bottom: 1px solid #dee2e6;
                border-top: 1px solid #dee2e6;
                padding: 1.5rem;
                @include container-mw(100%);
                @include row-fb;

                .box{
                    @include col-4;
                    padding: 0 15px;

                    .box-container{
                        @include row-fb;

                        .icon-fot{
                            @include col-4;
                            text-align: center;

                            >i{
                                font-size: 41px;
                                line-height: 1.4;
                                color: #0879c9;
                            }
                        }
                        .text-form-footer{
                            @include col-8;

                            >h3{
                                @include ft-title-df;
                            }
                            >p{
                                @include ft-content;
                            }
                        }
                    }
                }
            }
        }
    }

    // body
    .footer-body{
        background: #333;

        .ft-bd-container{
            @include container-mw(1140px);
            @include row-fb;
            padding: 3rem 0;

            .col-box{
                @include col-3;
                padding: 0 15px;

                h3{
                    @include ft-title-df;
                    font-size: 22px;
                    letter-spacing: 1px;
                    font-weight: 700;
                    color: $white;
                    margin-bottom: 1rem;
                }
                ul{
                    @include ft-content;

                    li{
                        margin-bottom: 1rem;
                        
                        a{
                            display: inline-block;
                            font-size: 14px;
                            color: #bdbdbd;
                            text-decoration: none;
                            transition: all .5s;

                            &:hover{
                                color: $color-3;
                            }
                        }

                        >i{
                            color: $color-3;
                            padding-right: 10px;
                        }
                    }
                }
                p{
                    @include ft-content;
                    font-size: 14px;
                    color: #bdbdbd;
                    margin-bottom: 1rem;
                }
                form{
                    .form-search{
                        margin-bottom: 1rem;

                        .input-search{
                            display: inline-block;
                            background: #f5f5f5;
                            border: none;
                            width: 72%;
                            padding: 10px;
                            color: #000;
                            letter-spacing: 1px;
                            font-size: 1rem;
                            line-height: 1.5;
                            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                            outline: none;
                        }
                        .input-submit{
                            outline: none;
                            color: $white;
                            padding: 11px;
                            letter-spacing: 1px;
                            width: 18%;
                            background: $color-3;
                            border: none;
                            cursor: pointer;
                            transition: all .5s;
                            line-height: 1.5;

                            &:hover{
                                background: $white;
                            }
                        }
                    }
                }
                .social{
                    >ul{
                        >li{
                            display: inline-block;
                            
                            &:nth-child(2){
                               margin: 0 10px; 
                            }

                            a{
                                position: relative;
                                display: inline-block;
                                width: 34px;
                                height: 34px;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $white;
                                transition: all .5s;

                                &:hover{
                                    opacity: .8
                                }
                            }
                            a.fb{
                                background: #6788ce;
                            }
                            a.tw{
                                background: #00ACEE;
                            }
                            a.gp{
                                background: #DD4B39;
                            }
                        }
                    }
                }
            }
        }
    }

    // bottom
    .footer-bottom{
        padding: 3rem 0;

        .ft-bt-container{
            @include container-mw(1140px);

            .sub-some{
                margin-top: 1.5rem;

                >h5{
                    font-family: $ft-title-1;
                    font-size: 19px;
                    color: #696969;
                    letter-spacing: 1px;
                    font-weight: 700;
                    margin-bottom: 0.5rem;
                    line-height: 1.2;
                }
                >ul{
                    font-family: $ft-content;

                    >li{
                        display: inline-block;
                        margin: 0.25rem;

                        >a{
                            text-decoration: none;
                            font-size: 13px;
                            color: #999;
                            padding-right: 0.5rem;
                            border-right: 1px solid #dee2e6;
                            transition: all .5s;
                            line-height: 1.6;

                            &:hover{
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }
    }

}