.hdblack-container{
    .hd-top{
        width: 100%;
        // height: 30px;
        background: #e2a952;
        padding: 3px 0;
        .hdtop-container{
            @include container-mw(1240px);
            @include row-fb;
            .col-left{
                @include col-auto(40%);
            }
            .col-right{
                @include col-auto(60%);
                display: flex;
                align-items: center;
                font-family: $ft-def;
                >ul{
                    li{
                        display: inline-block;
                        margin-right: 10px;
                        a {
                            display: inline-block;
                            color: #000;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        
    }

    .hd-body{
        width: 100%;
        background: #000;
        border-top: solid 1px #e2a952;
        border-bottom: solid 1px #e2a952;
        .hdbody-container{
            @include container-mw(1240px);
            @include row-fb;
            .col-left{
                @include col-auto(70%);
                font-family: $ft-def;
                h1{
                    @include row-fb;
                    padding-bottom: 20px;
                    >span {
                        display: inline-block;
                        color: #e2a952;
                        font-weight: 300;
                        font-weight: normal;
                        text-transform: uppercase;
                        font-style: italic;
                        font-size: 20px;
                        margin-left: 10px;
                        position: relative;
                        top: 42px;
                    }
                    a {
                        img {
                            margin-top: 30px;
                        }
                    }
                }
            }
            .col-right{
                @include col-auto(30%);
                display: flex;
                justify-content: flex-end;
                .tr-search {
                    display: inline-block;
                    position: relative;
                    top: 30px;
                    @include row-fb;
                    li {
                        a{
                            color: #e2a952;
                            display: inline-block;
                        }
                        .tr-shopping-cart{
                            position: relative;
                            &::before {
                                background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/icon_PC_V3.png) no-repeat;
                                width: 27px;
                                height: 34px;
                                -ms-background-position: -593px -19px;
                                background-position: -593px -19px;
                                content: "";
                                display: inline-block;
                                margin-right: 5px;
                                position: relative;
                                top: 5px;
                                background: url(https://file.yes24.vn/Content/desktop/images/yes24-black/black-cart.png) no-repeat;
                            }
                            .tr-shopping-cart-count {
                                background: #e2a952;
                                color: #000;
                                top: 1px;
                                position: absolute;
                                right: 0;
                                font-size: 11px;
                                line-height: 20px;
                                text-align: center;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                            }
                        }
                        .tr-login-reg {
                            font-weight: 300;
                            font-size: 14px;
                            width: 120px;
                            @include row-fb;
                            position: relative;
                            .tr-account-order{
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                            &::before {
                                background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/icon_PC_V3.png) no-repeat;
                                width: 29px;
                                height: 34px;
                                -ms-background-position: -550px -19px;
                                background-position: -550px -19px;
                                content: "";
                                display: inline-block;
                                margin-right: 5px;
                                position: relative;
                                top: 2px;
                                background: url(https://file.yes24.vn/Content/desktop/images/yes24-black/black-login.png) no-repeat;
                            }
                        }
                    }
                    .tr-login-regis{
                        .tr-account-order{
                            position: absolute;
                            top: 18px;
                            right: 60px;
                        }
                    }
                }
            }
        }
    }

    .hd-banner{
        background: #000;
        border-bottom: solid 1px #e2a952;
        .hdbanner-container{
            @include container-mw(1240px);
            >a{
                img{
                    @include img-res;
                }
            }
        }
    }

}