.about{
    padding: 3rem 0;

    .ab-container{
        @include container-mw(1140px);

        .title{
            @include ft-title;
            color: #000;
            font-size: 38px;
            letter-spacing: 1px;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
            font-style: unset;
            margin-bottom: 3rem;

            >span{
                color: #0879c9;
                font-size: 50px;
                letter-spacing: 0;
            }
        }

        .row-content{
            @include container-mw(100%);
            @include row-fb;

            .wc-left{
                @include col-6;
                padding: 0 15px;
                font-family: $ft-title-1;

                h3{
                    color: #F45C5D;
                    font-size: 36px;
                    letter-spacing: 1px;
                    line-height: 1.2;
                }
                h4{
                    color: #464646;
                    font-size: 17px;
                    line-height: 1.8;
                    letter-spacing: 1px;
                    margin: 1rem 0;
                }
                p{
                    margin: 0;
                    letter-spacing: 1px;
                    font-size: 15px;
                    line-height: 1.9;
                    color: #999;
                    font-family: $ft-content;
                }

            }
            .wc-right{
                @include col-6;
                padding: 0 15px;

                >img{
                    @include img-res;
                }
            }
        }
    }
}