.ourCustomers{
    @include container-mw(100%);
    background: url($bgURL+'bg2.jpg') no-repeat center fixed;
    background-size: cover;
    padding: 3rem 0;

    .ocm-container{
        @include container-mw(1140px);
        padding: 1.5rem 0;

        .title{
            @include ft-title;
            color: $white;
            font-size: 38px;
            letter-spacing: 1px;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
            font-style: unset;
            margin-bottom: 3rem;

            >span{
                color: #0879c9;
                font-size: 50px;
                letter-spacing: 0;
            }
        }

        .row-content{
            @include container-mw(100%);
            @include row-fb;

            .testi-grid{
                @include col-6;
                padding: 0 25px;
                margin-bottom: 25px;

                .testi-grid-box{
                    position: relative;
                    background: #fff;
                    -webkit-box-shadow: 5px 10px 10px 0px rgba(10, 10, 10, 0.48);
                            box-shadow: 5px 10px 10px 0px rgba(10, 10, 10, 0.48);
                    padding: 1.5rem;
                    border-radius: .25rem;

                    &::before{
                        content: '';
                        position: absolute;
                        left: 10%;
                        bottom: -11.5%;
                        border-left: 14px solid transparent;
                        border-right: 14px solid transparent;
                        border-bottom: 18px solid #f45c5d;
                        -webkit-transform: rotate(180deg);
                                transform: rotate(180deg);
                    }

                    p{
                        margin: 0;
                        letter-spacing: 1px;
                        font-size: 15px;
                        line-height: 1.9;
                        color: #999;
                        font-family: $ft-content;
                    }

                }
                .row-testi-grid{
                    padding: 3rem 0;
                    @include container-mw(100%);
                    @include row-fb;

                    .testi-img{
                        @include col-auto(16.666667%);
                        padding: 0 15px;

                        img{
                            @include img-res;
                            border-radius: 50%;
                        }
                    }
                    .testi-txt{
                        @include col-auto(83.333333%);
                        padding: 0 15px;

                        h4{
                            font-family: $ft-title-1;
                            font-size: 20px;
                            color: #fff;
                            letter-spacing: 1px;
                            font-weight: 700;
                            margin-bottom: 0.25rem;
                            line-height: 1.2;
                        }
                        p{
                            color: #fff7f7;
                            margin: 0;
                            letter-spacing: 1px;
                            font-size: 15px;
                            line-height: 1.9;
                            font-family: $ft-content;
                        }
                    }
                }
            }
        }
    }

}