.singlePost{
    .singleP-container{

        .row-content{
            margin-bottom: 50px;

            .col-left{
                @include col-9;
                padding: 0 15px;

                .box-img{
                    @include container-mw(100%);
                    -webkit-box-shadow: 0px 0px 15px 0px #D6D6D6;
                            box-shadow: 0px 0px 15px 0px #D6D6D6;
                    padding: 5px;
                    img{
                        @include img-res;
                    }
                }
                .box-content{
                    .tt{
                        font-size: 24px;
                        margin-top: .8rem;
                        margin-bottom: .8rem;
                        font-family: $ft-title-1;
                        text-align: left;
                    }
                    .meta{
                        font-size: 16px;
                        font-family: $ft-title-1;
                        margin-bottom: .5rem;
                        cursor: pointer;
                        ul{
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            
                            li{
                                display: inline-block;
                                margin-right: 8px;
                                font-style: italic;
                                -webkit-transition: all .5s;
                                transition: all .5s;

                                &:hover{
                                    color: #F44336;
                                }
                                i{
                                    color: #F44336;
                                }
                            }
                        }
                    }
                    .ct{
                        margin: 0;
                        letter-spacing: 1.5px;
                        font-size: 15px;
                        line-height: 1.9;
                        color: #999;
                        font-family: $ft-content;
                        margin-bottom: .5rem;
                    }
                }
            }
            .col-right{
                @include col-3;
                padding: 0 15px;

                .row-item{
                    padding: 0.5rem 0;
                    border-bottom: 1px solid $clbd-1;
                    font-family: $ft-content;

                    >h3{
                        color: $color-3;
                        font-size: 21px;
                        margin-bottom: 1rem;
                    }
                    .box-scroll{
                        @include container-mw(100%);
            
                        .r-pro{
                            @include row-fb;
                            padding: 15px 0;
            
                            .left-img{
                                @include col-3;
                                padding: 0 5px;
            
                                >img{
                                    @include img-res;
                                }
                            }
                            .right-content{
                                @include col-9;
                                padding: 0 10px;
            
                                >a{
                                    font-family: $ft-content;
                                    font-size: 15px;
                                    color: #0879c9;
                                    text-decoration: none;
                                    line-height: 1.5;
                                }
                                .price{
                                    color: #ef0e0e;
                                    display: block;
                                    margin-top: 10px;
                                }
                            }
                        }
            
                    }
                }
            }
        }
    }
}