@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://pro.fontawesome.com/releases/v5.8.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
.hd-container {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }
  .hd-container .hd-top {
    background-color: #8b030e;
    width: 100%;
    height: 80px;
    text-align: center;
    position: relative;
    z-index: 6; }
    .hd-container .hd-top .hdTop-container {
      z-index: 1;
      width: 1263px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
      .hd-container .hd-top .hdTop-container > a > img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
        width: 421px;
        float: left;
        height: 80px; }
  .hd-container .hd-info {
    position: relative;
    z-index: 6;
    background: white; }
    .hd-container .hd-info .hdInfo-container {
      max-width: 1240px;
      margin: 0 auto;
      box-sizing: border-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      box-sizing: border-box; }
      .hd-container .hd-info .hdInfo-container .info-left {
        position: relative;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
        max-width: 45%;
        box-sizing: border-box; }
      .hd-container .hd-info .hdInfo-container .info-right {
        position: relative;
        -ms-flex: 0 0 55%;
        flex: 0 0 55%;
        max-width: 55%;
        box-sizing: border-box;
        padding-right: 10px;
        display: flex;
        justify-content: flex-end; }
        .hd-container .hd-info .hdInfo-container .info-right .list-info {
          margin-bottom: 2px;
          margin-top: 10px;
          text-align: right;
          font-family: "Roboto", sans-serif;
          display: flex;
          width: 599px; }
          .hd-container .hd-info .hdInfo-container .info-right .list-info li {
            display: inline-block;
            position: relative;
            text-align: left;
            margin-right: 0;
            padding: 0 .5%;
            margin-right: 5px; }
            .hd-container .hd-info .hdInfo-container .info-right .list-info li a, .hd-container .hd-info .hdInfo-container .info-right .list-info li span {
              font-size: 13px;
              color: #a4a4a4;
              text-align: left; }
            .hd-container .hd-info .hdInfo-container .info-right .list-info li .tr-download-menu::before {
              content: "";
              background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png) no-repeat;
              float: left;
              width: 15px;
              height: 15px;
              -ms-background-position: 0 -343px;
              background-position: 0 -343px; }
            .hd-container .hd-info .hdInfo-container .info-right .list-info li .tr-cs::before {
              content: "";
              background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png) no-repeat;
              float: left;
              width: 15px;
              height: 15px;
              -ms-background-position: -37px -343px;
              background-position: -37px -343px; }
            .hd-container .hd-info .hdInfo-container .info-right .list-info li .tr-notify-main-home::before {
              width: 15px;
              height: 15px;
              content: "";
              background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/icon_PC_V3.png) no-repeat;
              float: left;
              -ms-background-position: -334px -25px;
              background-position: -334px -25px;
              margin: 4px 2px 0 0; }
            .hd-container .hd-info .hdInfo-container .info-right .list-info li .language-vn::before {
              content: "";
              background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/icon_PC_V3.png) no-repeat;
              -ms-background-position: -967px -37px;
              background-position: -967px -37px;
              width: 22px;
              height: 13px;
              position: relative;
              float: right; }
            .hd-container .hd-info .hdInfo-container .info-right .list-info li .language-en {
              margin-left: 5px; }
              .hd-container .hd-info .hdInfo-container .info-right .list-info li .language-en::before {
                content: "";
                background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/icon_PC_V3.png) no-repeat;
                -ms-background-position: -990px -37px;
                background-position: -990px -37px;
                width: 22px;
                height: 13px;
                position: relative;
                float: right;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%); }
            .hd-container .hd-info .hdInfo-container .info-right .list-info li .check-order::before {
              content: "";
              background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png) no-repeat;
              float: left;
              width: 15px;
              height: 18px;
              -ms-background-position: -15px -192px;
              background-position: -15px -192px;
              background-size: 200px 368px;
              margin-right: 2px; }
  .hd-container .hd-body {
    position: relative;
    z-index: 6;
    background: white;
    padding-bottom: 10px; }
    .hd-container .hd-body .hdBody-container {
      max-width: 1240px;
      margin: 0 auto;
      box-sizing: border-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      box-sizing: border-box;
      height: 55px; }
      .hd-container .hd-body .hdBody-container .col-left {
        position: relative;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        box-sizing: border-box; }
        .hd-container .hd-body .hdBody-container .col-left > a > img {
          vertical-align: middle;
          max-width: 100%;
          height: auto; }
      .hd-container .hd-body .hdBody-container .col-right {
        position: relative;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
        box-sizing: border-box;
        font-display: "Roboto", sans-serif; }
        .hd-container .hd-body .hdBody-container .col-right .list-unstyle {
          padding-left: 2px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          box-sizing: border-box; }
          .hd-container .hd-body .hdBody-container .col-right .list-unstyle > li {
            height: 38px; }
            .hd-container .hd-body .hdBody-container .col-right .list-unstyle > li > a {
              line-height: 1.4;
              font-family: "Roboto", sans-serif;
              color: #3e3e3e;
              font-size: 14px; }
              .hd-container .hd-body .hdBody-container .col-right .list-unstyle > li > a > span {
                font-size: 13px; }
          .hd-container .hd-body .hdBody-container .col-right .list-unstyle .search {
            position: relative;
            -ms-flex: 0 0 37%;
            flex: 0 0 37%;
            max-width: 37%;
            box-sizing: border-box; }
            .hd-container .hd-body .hdBody-container .col-right .list-unstyle .search > input {
              border: none;
              outline: none;
              box-sizing: border-box;
              font-family: inherit;
              overflow: visible;
              display: block;
              width: 100%;
              height: calc(1.5em + 0.75rem + 2px);
              padding: 0.375rem 0.75rem;
              line-height: 1.5;
              color: #495057;
              background-clip: padding-box;
              width: 100%;
              height: 36px;
              border: solid 1px #dcdcdc;
              padding: 0 3%;
              margin-top: 15px; }
          .hd-container .hd-body .hdBody-container .col-right .list-unstyle .product-view {
            position: relative;
            -ms-flex: 0 0 16%;
            flex: 0 0 16%;
            max-width: 16%;
            box-sizing: border-box; }
          .hd-container .hd-body .hdBody-container .col-right .list-unstyle > li .tr-top-keosao::before {
            background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/icon_PC_V3.png) no-repeat;
            width: 53px;
            height: 28px;
            -ms-background-position: -359px -14px;
            background-position: -359px -14px;
            display: inline-block;
            margin-right: 5px;
            position: relative;
            top: 15px;
            margin-left: 25px;
            content: ''; }
          .hd-container .hd-body .hdBody-container .col-right .list-unstyle > li .tr-top-keosao > span {
            position: absolute;
            right: 25px; }
  .hd-container .hd-nav {
    position: relative;
    z-index: 6;
    background: white; }
    .hd-container .hd-nav .nav-container {
      max-width: 100%;
      margin: 0 auto;
      box-sizing: border-box; }
      .hd-container .hd-nav .nav-container .row-nav-show {
        max-width: 1240px;
        margin: 0 auto;
        box-sizing: border-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        box-sizing: border-box;
        line-height: 38px;
        padding-left: 15px; }
        .hd-container .hd-nav .nav-container .row-nav-show .col-left {
          position: relative;
          -ms-flex: 0 0 18%;
          flex: 0 0 18%;
          max-width: 18%;
          box-sizing: border-box;
          background-color: #fff;
          color: #0f5caa;
          position: relative;
          cursor: pointer; }
          .hd-container .hd-nav .nav-container .row-nav-show .col-left .fa-bars {
            background-color: #fff;
            font-size: 20px;
            float: left;
            height: 100%;
            cursor: pointer;
            width: 30px;
            line-height: 38px;
            text-align: left; }
          .hd-container .hd-nav .nav-container .row-nav-show .col-left > span {
            width: 120px;
            text-align: left;
            height: 100%;
            cursor: pointer;
            padding-left: 0;
            font-family: "Roboto", sans-serif;
            font-weight: 600;
            line-height: 38px;
            font-size: 16px; }
          .hd-container .hd-nav .nav-container .row-nav-show .col-left .fa-angle-down {
            position: absolute;
            right: 35%;
            top: 5px;
            font-size: 25px;
            color: #0f5aab;
            font-weight: 500; }
          .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc {
            background: white;
            position: absolute;
            top: 45px;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 560px;
            font-family: "Roboto", sans-serif;
            display: none; }
            .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul {
              height: 450px;
              margin: 7px 0 12px;
              border-top: 1px solid #f0f0f0; }
              .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li {
                height: 40px;
                line-height: 40px; }
                .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li:hover {
                  background-color: #69c; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li:hover .tr-submenu {
                    display: block; }
                .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 {
                  font-weight: normal;
                  font-size: 14px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 > a {
                    color: #000;
                    max-height: 40px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 15px;
                    margin-left: 20px;
                    display: block;
                    font-weight: normal;
                    font-family: "Roboto", sans-serif; }
                    .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 > a:hover {
                      color: white;
                      text-decoration: underline; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a::before {
                    margin-right: 10px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-bg-all::before {
                    -ms-content: "";
                    content: "";
                    background: url(https://image.yes24.vn/upload/Content/desktop/images/icon/bg.png) no-repeat;
                    float: left; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-hangnhap::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -37px;
                    background-position: -305px -37px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-mypham::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -159px;
                    background-position: -305px -159px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-giadung::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -322px;
                    background-position: -305px -322px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-thoitrang::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -78px;
                    background-position: -305px -78px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-thucpham::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -444px;
                    background-position: -305px -444px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-mebe::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -282px;
                    background-position: -305px -282px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-giaytui::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -198px;
                    background-position: -305px -198px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-thethao::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -362px;
                    background-position: -305px -362px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-phukien::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -241px;
                    background-position: -305px -241px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-noiy::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -117px;
                    background-position: -305px -117px; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li h2 a.tr-dienmay::before {
                    width: 33px;
                    height: 40px;
                    -ms-background-position: -305px -399px;
                    background-position: -305px -399px; }
                .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu {
                  height: 560px;
                  left: 220px;
                  padding-top: 7px;
                  box-sizing: border-box;
                  display: block;
                  background: white;
                  position: absolute;
                  z-index: 10;
                  top: 0;
                  overflow: hidden;
                  width: 992px !important;
                  line-height: 40px;
                  display: none; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-submenu-small {
                    width: 744px;
                    float: left;
                    text-align: left;
                    height: 550px;
                    overflow: hidden;
                    column-count: 3;
                    column-gap: 20px;
                    column-fill: auto;
                    position: relative;
                    border-top: 1px solid #f0f0f0;
                    line-height: 40px;
                    padding-top: 5px; }
                    .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-submenu-small .tr-uli-submenu-v4 {
                      width: 100%;
                      float: left;
                      box-sizing: border-box;
                      margin-left: 20px; }
                      .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-submenu-small .tr-uli-submenu-v4 h3.tr-name-red a {
                        color: #d3364a;
                        font-size: 14px;
                        margin-left: 0;
                        line-height: 21px;
                        font-family: "Roboto", sans-serif;
                        display: block;
                        float: left; }
                      .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-submenu-small .tr-uli-submenu-v4 h3.tr-name-red img {
                        display: inline-block;
                        width: 35px;
                        padding-left: 5px;
                        transform: translateY(30%);
                        float: left; }
                      .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-submenu-small .tr-uli-submenu-v4 h3 a {
                        font-family: "Roboto", sans-serif;
                        font-weight: 600;
                        color: #231f20;
                        margin-left: 0;
                        line-height: 21px;
                        font-size: 14px;
                        display: block; }
                      .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-submenu-small .tr-uli-submenu-v4 .tr-ul-list-v4-main-home {
                        width: 100%;
                        float: left; }
                        .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-submenu-small .tr-uli-submenu-v4 .tr-ul-list-v4-main-home .r-ulli-list-v4-main-home {
                          width: 100%; }
                        .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-submenu-small .tr-uli-submenu-v4 .tr-ul-list-v4-main-home li a {
                          color: #000;
                          margin-left: 0;
                          width: 100%;
                          float: left;
                          font-size: 13px;
                          line-height: 21px;
                          white-space: nowrap;
                          overflow: hidden;
                          text-overflow: ellipsis;
                          max-width: 95%;
                          text-transform: capitalize;
                          font-family: "Roboto", sans-serif;
                          font-weight: 300;
                          display: block; }
                          .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-submenu-small .tr-uli-submenu-v4 .tr-ul-list-v4-main-home li a:hover {
                            text-decoration: underline; }
                  .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-wrapper-brandlogo {
                    width: 248px;
                    text-align: left;
                    border-top: 1px solid #f0f0f0;
                    float: right; }
                    .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-wrapper-brandlogo > h3 {
                      color: #231f20;
                      font-family: "Roboto", sans-serif;
                      font-weight: bold;
                      width: 100%;
                      float: left;
                      font-size: 15px;
                      box-sizing: border-box;
                      padding-left: 20px;
                      text-align: left; }
                    .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-wrapper-brandlogo .tr-submnenu-brandlogo-li a {
                      width: 100%;
                      float: left;
                      padding-bottom: 17px;
                      box-sizing: border-box;
                      margin-left: 0;
                      padding-left: 20px;
                      display: block; }
                      .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc .list-nav-ul > li .tr-submenu .tr-wrapper-brandlogo .tr-submnenu-brandlogo-li a img {
                        width: 200px;
                        height: 85px;
                        float: left; }
          .hd-container .hd-nav .nav-container .row-nav-show .col-left .box-list-menu-fc-active {
            display: block; }
        .hd-container .hd-nav .nav-container .row-nav-show .col-right {
          position: relative;
          -ms-flex: 0 0 82%;
          flex: 0 0 82%;
          max-width: 82%;
          box-sizing: border-box; }
          .hd-container .hd-nav .nav-container .row-nav-show .col-right .list-unstyle .tr-li-me-right > a {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            color: #333;
            margin: 0 10px;
            float: left;
            text-transform: uppercase; }
          .hd-container .hd-nav .nav-container .row-nav-show .col-right .list-unstyle .tr-li-me-right .mn-keosao::before {
            content: '';
            width: 26px;
            height: 26px;
            background: url(https://yes24.vn/Upload/Event/2019/KS.png) no-repeat;
            display: inline-table;
            position: relative;
            top: -18px;
            margin-right: 5px; }
          .hd-container .hd-nav .nav-container .row-nav-show .col-right .list-unstyle .tr-li-me-right .mn-cafestyle::before {
            content: '';
            width: 26px;
            height: 26px;
            background: url(https://yes24.vn/Upload/Event/2019/CF.png) no-repeat;
            display: inline-table;
            position: relative;
            top: -18px;
            margin-right: 5px; }

/*# sourceMappingURL=header.css.map */
