#overlayer {
    width:100%;
    height:100%;  
    position:fixed;
    z-index:2000;
    background:rgba(100,149,237, .8);
}
.loader{
    position: fixed;
    z-index:2001;
    top: 50%;
    right: 50%;
}