@import "helper/custom.scss";
@import "./helper/font.scss";
#header{
    @import "./layout/header/header.scss";
}
@import "./layout/main/bannerPage";
@import "./layout/main/preloader";
#main{
    @import "./layout/main/about";
    @import "./layout/main/counter";
    @import "./layout/main/work";
    @import "./layout/main/service";
    @import "./layout/main/project";
    @import "./layout/main/satisfied";
    @import "./layout/main/architect";
    @import "./layout/main/blog";
    @import "./layout/main/cLients";
    @import "./layout/main/mapFanpage";

    // all page sub
    @import "./layout/page/blogPage";
    @import "./layout/page/contactPage";
    @import "./layout/page/mapFormPage";
}

#footer{
    font-size: 14px;
    background: #141313;
    padding: 6em 0;
    position: relative;
    @import "./layout/footer/footer.scss";
}

// scroll to top
#scrollToTop{
    position: fixed;
    z-index: 9999;
    right: 5%;
    bottom: 0;
    border: none;
    outline: none;
    background-color: #333;
    color: $white;
    font-size: 25px;
    width: 50px;
    height: 35px;
    font-weight: normal;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    transition: all .7s;
    display: none;
}
#scrollToTop:hover{
    background: $cl-1;
}

// call phone
@import "./layout/main/phoneCall";