
//! fonts style
$ft-Poppins: 'Poppins', sans-serif;
$ft-PlayfairDisplay: 'Playfair Display', serif;
$FT-SourceSansPro: 'Source Sans Pro', sans-serif;
$ft-ShadowToLight: 'Shadows Into Light', cursive;

//! background url
$bgURL: "./../img/";

//! color
$white: #fff;
$color-txt: #495057;
$cl-1: #0033c7;
$cl-2: #000;
$cl-3: #0038db;
$cl-4: #002694;

//! fonts
$font-1: 'Poppins', sans-serif; 