@import 'variable.scss';

@mixin set-font($name, $link){
    @font-face{
        font-family: $name;
        src: url($link) format("opentype"); 
    }
};

@mixin set-f-s-cl($fam, $size, $cl){
    font-size: $size;
    color: $cl;
    font-family: $fam;
};

@mixin flex($dir){
    display: flex;
    flex-direction: $dir;
    @content
};

//! responsive
@mixin res($width) {
    @media screen and(max-width: $width) {
        @content;
    }
}

@mixin res2($max-w, $min-w) {
    @media only screen and (max-width:$max-w) and (min-width:$min-w){
        @content;
    } 
}

//! container , row-fb, flex, col, text => changes in value

// TODO: container
@mixin container ($w){
    width: $w;
    margin: 0 auto;
    box-sizing: border-box;
}
@mixin container-mw ($mw){
    max-width: $mw;
    margin: 0 auto;
    box-sizing: border-box;
}

// TODO: row
@mixin row-fb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}

// TODO: flex
@mixin flex($dir){
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-direction: $dir;
    box-sizing: border-box;
}

// TODO: col
@mixin col-auto($size) {
    position: relative;
    -ms-flex: 0 0 $size;
    flex: 0 0 $size;
    max-width: $size;
    box-sizing: border-box;
}

// TODO: font-size, color
@mixin set-s-cl($size, $cl){
    font-size: $size;
    color: $cl;
};

//! col size 
@mixin col-3 {
    position: relative;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    box-sizing: border-box;
}
@mixin col-9 {
    position: relative;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    box-sizing: border-box;
}
@mixin col-4 {
    position: relative;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    box-sizing: border-box;
}
@mixin col-8 {
    position: relative;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    box-sizing: border-box;
}
@mixin col-6 {
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
}
@mixin col-12 {
    position: relative;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
}

//! image
@mixin img-res {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

//! input
@mixin input {
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: inherit;
    overflow: visible;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: $color-txt;
    background-clip: padding-box;
}

//! textarea
@mixin textarea {
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: inherit;
    overflow: auto;
    resize: vertical;
    display: block;
    width: 100%;
    height: auto;
    color: $color-txt;
    padding: 0.375rem 0.75rem;
}

//! button
@mixin button {
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    overflow: visible;
    cursor: pointer;
}

// page
@mixin input-page {
    font-family: $ft-content;
    color: #191e21;
    letter-spacing: 1px;
    padding: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
    font-size: 1rem;
    line-height: 1.5;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $clbd-2;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline-offset: -2px;
    margin-right: 0.5rem;
    display: inline-block;
}
@mixin button-page {
    font-family: $ft-content;
    border-radius: 0;
    background: $color-3;
    color: $white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
    padding: 10px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@mixin ft-title {
    font-family: $ft-title-1;
    color: $color-4;
    font-size: 32px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.19);
    font-style: italic;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
}
@mixin button-shop {
    font-family: $ft-content;
    display: inline-block;
    background: $color-1;
    border-radius: 4px;
    color: $white;
    letter-spacing: 2px;
    padding: 11px 27px;
    transition: all .5s;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}

