
//! fonts style
$ft-Poppins: 'Poppins', sans-serif;
$ft-PlayfairDisplay: 'Playfair Display', serif;
$FT-SourceSansPro: 'Source Sans Pro', sans-serif;
$ft-ShadowToLight: 'Shadows Into Light', cursive;

//! background url
$bgURL: "./../img/";

//! color
$white: #fff;
$color-txt: #495057;
$color-1: #0879c9;
$color-2: #0056b3;
$color-3: #F45C5D;
$color-4: #000;
$color-5: #ff2978;

//! color border 
$clbd-1: #dee2e6;
$clbd-2: #ced4da;

//! font
$ft-content: 'Open Sans', sans-serif;
$ft-title-1: 'Lato', sans-serif;