.blog{
    background: #fafafa;
    padding: 7em 0;

    .blg-container{
        @include container-mw(1300px);

        .row-top{
            @include row-fb;
            margin-bottom: 3rem;
            padding-bottom: .5rem;
            overflow: hidden;

            .box-left{
                @include col-4;
                padding-right: 50px;
    
                .title{
    
                    .subheading{
                        font-family: $font-1;
                        font-weight: 400;
                        font-size: 18px;
                        display: block;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: #000;
                        position: relative;
    
                        &::after{
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 1px;
                            content: '';
                            background: #e1e8ff;
                            z-index: -1;
                        }
                        small{
                            font-size: 80%;
                            font-weight: 400;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: #000;
                        }
                    }
                    h2{
                        @include tt-default;
                    }
                }
            }
            .box-right{
                @include col-8;
    
                .box-content{
                    padding: 0 3rem;
    
                    p{
                        @include ft-default;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        .row-body{

            @include row-fb;

            .col{
                @include col-4;
                padding:0 15px;

                .blog-entry{
                    >a{
                        background-image: url($bgURL + "image_1.webp");
                        overflow: hidden;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        height: 275px;
                        position: relative;
                        display: block;
                    }
                    .text{
                        position: relative;
                        border-top: 0;
                        border-radius: 2px;
                        padding: 1.5rem 0;
                        @include row-fb;

                        .meta{
                            width: 100px;
                            text-align: right;
                            margin-bottom: 1rem;

                            >div{
                                @include ft-default;
                                display: block;
                                margin-right: 5px;
                                margin-bottom: 0;
                                font-size: 15px;
                                
                                >a{
                                    color: #b3b3b3;
                                    font-size: 13px;
                                }
                            }
                        }
                        .desc{
                            width: calc(100% - 100px);
                            padding-left: 1rem;

                            .heading{
                                @include ft-default;
                                font-size: 20px;
                                margin-bottom: 16px;
                                line-height: 1.5;
                                
                                >a{
                                    color: rgba(0,0,0,.8);
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}

// res
@include res(1199px){
    .blog {
        .blg-container{
            @include container-mw(90%);
        }
    }
}

@include res(991px){
    .blog {
        .blg-container{
            @include container-mw(95%);

            .row-body{
                .col{
                    @include col-12;
                }
            }
        }
    }
}

@include res(767px){
    .blog {
        .blg-container {
            .row-top {
                .box-left {
                    @include col-12;
                }
                .box-right{
                    @include col-12;

                    .box-content{
                        padding: 0;
                    }
                }
            }
            .row-body{
                .col{
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }
}