.clients{
    padding: 7em 0;

    .clie-container{
        @include container-mw(1300px);

        .row-top{
            @include row-fb;
            margin-bottom: 3rem;
            padding-bottom: .5rem;

            .box-left{
                @include col-4;
                padding-right: 50px;
    
                .title{
    
                    .subheading{
                        font-family: $font-1;
                        font-weight: 400;
                        font-size: 18px;
                        display: block;
                        margin-bottom: 5px;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        color: #000;
                        position: relative;
    
                        &::after{
                            position: absolute;
                            top: 50%;
                            left: 0;
                            right: 0;
                            width: 100%;
                            height: 1px;
                            content: '';
                            background: #e1e8ff;
                            z-index: -1;
                        }
                        small{
                            font-size: 80%;
                            font-weight: 400;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: #000;
                            background: $white;
                        }
                    }
                    h2{
                        @include tt-default;
                    }
                }
            }
            .box-right{
                @include col-8;
    
                .box-content{
                    padding: 0 3rem;
    
                    p{
                        @include ft-default;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
        
        .row-body{

            .owl-carousel{
                .item{
                    @include row-fb;

                    .col{
                        @include col-6;
                        padding: 0 15px;

                        >a{
                            @include ft-default;
                            border: 1px solid #f0f0f0;
                            display: block;
                            color: #000;
                            font-weight: 700;
                            text-transform: uppercase;
                            text-align: center;
                            padding: 2rem 0;
                        }
                    }
                }
                .owl-nav{
                    display: none;
                }
                .owl-dots{
                    margin-top: 30px;
                    .owl-dot{
                        background: none;
                        border: none;
                        outline: none;
                    }
                    .active{
                        span{
                            background: $cl-1;
                        }
                    }
                }
            }
        }
    }
}

// res
@include res(1199px){
    .clients {
        .clie-container{
            @include container-mw(90%);
        }
    }
}

@include res(767px){
    .clients {
        .clie-container {
            .row-top {
                .box-left {
                    @include col-12;
                }
                .box-right{
                    @include col-12;

                    .box-content{
                        padding: 0;
                    }
                }
            }
        }
    }
}