.counter{
    background-image: url($bgURL + "bg_3.webp");
    background-position: 50% -21.2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    padding: 6em 0;
    background-size: cover;
    position: relative;

    &::after{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        z-index: 1;
        opacity: .8;
        background: #0033c7;
    }

    .ct-container{
        @include container-mw(1300px);
        @include row-fb;

        .col-ct{
            @include col-3;
            text-align: center;

            .text{
                @include ft-default;

                .number{
                    font-weight: 500;
                    font-size: 40px;
                    color: $white;
                    display: block;
                    position: relative;
                    z-index: 2;
                }
                >span{
                    display: block;
                    font-size: 16px;
                    color: rgba(255,255,255,.8);
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
}

// res
@include res(767px){
    .counter {
        .ct-container{
            @include container-mw(95%);

            .col-ct{
                @include col-6;
                margin-bottom: 50px;
            }
        }
    }
}