.work{
    padding: 5em 0;

    .wk-container{
        @include container-mw(1300px);

        .wk-top{
            @include row-fb;
            padding-bottom: 3rem;
            margin-bottom: 3rem;

            .box-title{
                @include col-4;
    
                h2{
                    @include tt-default;
                }
            }
            .box-content{
                @include col-8;
                padding-left: 3rem;
    
                .content{
                    @include ft-default;
                    padding-left: 1.5rem;
                }
            }
        }
        .wk-body{
            @include row-fb;

            .box-icon-content{
                @include col-4;
                padding: 0 15px;

                .wk-service{
                    position: relative;

                    &::before{
                        position: absolute;
                        top: 45px;
                        right: 0;
                        content: '';
                        z-index: 1;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 0 5px 10px;
                        border-color: transparent transparent transparent #e1e8ff;
                    }
                    &::after{
                        position: absolute;
                        top: 50px;
                        left: 0;
                        right: 0;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: #e1e8ff;
                        z-index: -1;
                    }

                    .icon{
                        line-height: 1.3;
                        position: relative;
                        width: 100px;
                        height: 100px;
                        background: $cl-1;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span{
                            font-size: 50px;
                            line-height: 1.3;
                            color: $white;
                        }
                    }

                }
                .media-body{
                    padding: .5rem;
                    margin-top: 1rem;
                    
                    .heading{
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 18px;
                        line-height: 1.5;
                        color: rgba(0,0,0,.8);
                        margin-bottom: .5rem;
                        font-family: $font-1;
                    }
                    p{
                        margin-bottom: 1rem;
                        @include ft-default;
                    }
                }
            }
        }
    }

}

// res
@include res(1199px){
    .work {
        .wk-container{
            @include container-mw(90%);
        }
    }
}

@include res(991px){
    .work {
        .wk-container{
            @include container-mw(95%);
        }
    }
}

@include res(767px){
    .work {
        .wk-container {
            .wk-top {
                .box-title {
                    @include col-12;
                }
                .box-content{
                    @include col-12;
                    padding-left: 0;

                    .content{
                        padding-left: 0;
                    }
                }
            }
            .wk-body{
                .box-icon-content{
                    @include col-12;
                    padding-left: 0;
                }
            }
        }
    }
}