@import "helper/custom.scss";
@import "./helper/font.scss";

// preload
@import "./layout/preloader";
#header{
    @import "layout/header/header";
}
#bannerPage{
    @import "./layout/main/bannerpage";
}
#main{
    // our new
    .ourNew{
        @include container-mw(100%);
        padding: 3rem 0;

        .on-container{
            @include container-mw(1140px);

            .title{
                >h3{
                    font-family: $ft-title-1;
                    color: $color-4;
                    font-size: 38px;
                    letter-spacing: 1px;
                    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
                    text-align: center;
                    margin-bottom: 3rem;
                    line-height: 1.2;

                    >span{
                        color: $color-1;
                        font-size: 50px;
                        letter-spacing: 0;
                    }
                }
            }
            .row-container{
                @include row-fb;

                .col-left{
                    @include col-9;
                    padding: 0 15px;

                    .wrapper-box{
                        @import "./layout/main/producttype";
                        @import "./layout/main/bannerbox";
                    }
                    
                }
                .col-right{
                    @include col-3;
                    background-color: #F9F9F9;
                    padding: 1.5rem;
                    @import "./layout/main/sidebar";
                }
            }
            
        }
    }
    @import "./layout/main/bannerbig";
    @import "./layout/main/listpost";

    // page
    @import "./layout/main/about";
    @import "./layout/main/ourCustomer";
    @import "./layout/main/contactus";
    @import "./layout/main/googlemap";
    @import "./layout/main/payment";
    @import "./layout/main/checkout";
    @import "./layout/main/singlepage";
    @import "./layout/main/singlepost";
}
#footer{
   @import "layout/footer/footer"; 
}
.coppy-right{
    padding: 1rem 0;
    background: #0879c9;

    .cpr-container{
        @include container-mw(1140px);
        font-family: $ft-content;

        p{
            letter-spacing: 2px;
            font-size: 15px;
            color: $white;
            text-align: center;
        }
    }   
}
#scrollToTop{
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 1%;
    overflow: hidden;
    z-index: 999;
    width: 64px;
    height: 64px;
    border: none;
    text-indent: 100%;
    background: url($bgURL+'move-up.png') no-repeat 0px 0px;
    -webkit-transition: all .5s;
    transition: all .5s;
    display: none;

    &:hover{
        opacity: .8;
    }
}
// call phone
@import "./layout/phoneCall";
// responsive
@import "./layout/responsive";


